@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?838po1');
  src:  url('fonts/icomoon.eot?838po1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?838po1') format('truetype'),
    url('fonts/icomoon.woff?838po1') format('woff'),
    url('fonts/icomoon.svg?838po1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mixcloud:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-fedramp:before {
  content: "\e902";
}
.icon-flickr:before {
  content: "\e903";
}
.icon-fossa:before {
  content: "\e904";
}
.icon-box:before {
  content: "\e905";
}
.icon-stackexchange:before {
  content: "\e906";
}
.icon-coursera:before {
  content: "\e907";
}
.icon-solus:before {
  content: "\e908";
}
.icon-jcb:before {
  content: "\e909";
}
.icon-apachenetbeanside:before {
  content: "\e90a";
}
.icon-dailymotion:before {
  content: "\e90b";
}
.icon-coinbase:before {
  content: "\e90c";
}
.icon-gnome:before {
  content: "\e90d";
}
.icon-zoom:before {
  content: "\e90e";
}
.icon-fila:before {
  content: "\e90f";
}
.icon-vuetify:before {
  content: "\e910";
}
.icon-vk:before {
  content: "\e911";
}
.icon-r:before {
  content: "\e912";
}
.icon-githubactions:before {
  content: "\e913";
}
.icon-stubhub:before {
  content: "\e914";
}
.icon-nutanix:before {
  content: "\e915";
}
.icon-hyundai:before {
  content: "\e916";
}
.icon-xmpp:before {
  content: "\e917";
}
.icon-fifa:before {
  content: "\e918";
}
.icon-quarkus:before {
  content: "\e919";
}
.icon-riseup:before {
  content: "\e91a";
}
.icon-onstar:before {
  content: "\e91b";
}
.icon-buddy:before {
  content: "\e91c";
}
.icon-xfce:before {
  content: "\e91d";
}
.icon-aral:before {
  content: "\e91e";
}
.icon-dcentertainment:before {
  content: "\e91f";
}
.icon-icloud:before {
  content: "\e920";
}
.icon-deepin:before {
  content: "\e921";
}
.icon-zend:before {
  content: "\e922";
}
.icon-nfc:before {
  content: "\e923";
}
.icon-publons:before {
  content: "\e924";
}
.icon-f-droid:before {
  content: "\e925";
}
.icon-zillow:before {
  content: "\e926";
}
.icon-dblp:before {
  content: "\e927";
}
.icon-c:before {
  content: "\e928";
}
.icon-digitalocean:before {
  content: "\e929";
}
.icon-pr-dot-co:before {
  content: "\e92a";
}
.icon-gnuicecat:before {
  content: "\e92b";
}
.icon-delicious:before {
  content: "\e92c";
}
.icon-ovh:before {
  content: "\e92d";
}
.icon-protocols-dot-io:before {
  content: "\e92e";
}
.icon-laravelhorizon:before {
  content: "\e92f";
}
.icon-alliedmodders:before {
  content: "\e930";
}
.icon-bluetooth:before {
  content: "\e931";
}
.icon-netapp:before {
  content: "\e932";
}
.icon-americanexpress:before {
  content: "\e933";
}
.icon-letsencrypt:before {
  content: "\e934";
}
.icon-actigraph:before {
  content: "\e935";
}
.icon-rstudio:before {
  content: "\e936";
}
.icon-ibeacon:before {
  content: "\e937";
}
.icon-apachepulsar:before {
  content: "\e938";
}
.icon-opslevel:before {
  content: "\e939";
}
.icon-jsfiddle:before {
  content: "\e93a";
}
.icon-zhihu:before {
  content: "\e93b";
}
.icon-steem:before {
  content: "\e93c";
}
.icon-fontawesome:before {
  content: "\e93d";
}
.icon-mastodon:before {
  content: "\e93e";
}
.icon-intercom:before {
  content: "\e93f";
}
.icon-lubuntu:before {
  content: "\e940";
}
.icon-yammer:before {
  content: "\e941";
}
.icon-riot:before {
  content: "\e942";
}
.icon-affinitydesigner:before {
  content: "\e943";
}
.icon-pivotaltracker:before {
  content: "\e944";
}
.icon-furrynetwork:before {
  content: "\e945";
}
.icon-postgresql:before {
  content: "\e946";
}
.icon-python:before {
  content: "\e947";
}
.icon-joomla:before {
  content: "\e948";
}
.icon-keybase:before {
  content: "\e949";
}
.icon-signal:before {
  content: "\e94a";
}
.icon-shazam:before {
  content: "\e94b";
}
.icon-disqus:before {
  content: "\e94c";
}
.icon-uikit:before {
  content: "\e94d";
}
.icon-internetexplorer:before {
  content: "\e94e";
}
.icon-musescore:before {
  content: "\e94f";
}
.icon-coderwall:before {
  content: "\e950";
}
.icon-iconify:before {
  content: "\e951";
}
.icon-renren:before {
  content: "\e952";
}
.icon-ifixit:before {
  content: "\e953";
}
.icon-bancontact:before {
  content: "\e954";
}
.icon-flutter:before {
  content: "\e955";
}
.icon-cmake:before {
  content: "\e956";
}
.icon-pypi:before {
  content: "\e957";
}
.icon-elementary:before {
  content: "\e958";
}
.icon-dynatrace:before {
  content: "\e959";
}
.icon-paypal:before {
  content: "\e95a";
}
.icon-mysql:before {
  content: "\e95b";
}
.icon-materialdesignicons:before {
  content: "\e95c";
}
.icon-octopusdeploy:before {
  content: "\e95d";
}
.icon-mail-dot-ru:before {
  content: "\e95e";
}
.icon-stackshare:before {
  content: "\e95f";
}
.icon-docker:before {
  content: "\e960";
}
.icon-buffer:before {
  content: "\e961";
}
.icon-microsoftedge:before {
  content: "\e962";
}
.icon-azuredevops:before {
  content: "\e963";
}
.icon-castorama:before {
  content: "\e964";
}
.icon-windows:before {
  content: "\e965";
}
.icon-microsoftsharepoint:before {
  content: "\e966";
}
.icon-microsoftonedrive:before {
  content: "\e967";
}
.icon-microsoftexchange:before {
  content: "\e968";
}
.icon-microsoftoutlook:before {
  content: "\e969";
}
.icon-chase:before {
  content: "\e96a";
}
.icon-godotengine:before {
  content: "\e96b";
}
.icon-gov-dot-uk:before {
  content: "\e96c";
}
.icon-teamspeak:before {
  content: "\e96d";
}
.icon-intel:before {
  content: "\e96e";
}
.icon-first:before {
  content: "\e96f";
}
.icon-w3c:before {
  content: "\e970";
}
.icon-semanticweb:before {
  content: "\e971";
}
.icon-readthedocs:before {
  content: "\e972";
}
.icon-cplusplus:before {
  content: "\e973";
}
.icon-volvo:before {
  content: "\e974";
}
.icon-nuget:before {
  content: "\e975";
}
.icon-mattermost:before {
  content: "\e976";
}
.icon-cesium:before {
  content: "\e977";
}
.icon-krita:before {
  content: "\e978";
}
.icon-bmw:before {
  content: "\e979";
}
.icon-codecademy:before {
  content: "\e97a";
}
.icon-chartmogul:before {
  content: "\e97b";
}
.icon-webmoney:before {
  content: "\e97c";
}
.icon-jquery:before {
  content: "\e97d";
}
.icon-css3:before {
  content: "\e97e";
}
.icon-mediafire:before {
  content: "\e97f";
}
.icon-password:before {
  content: "\e980";
}
.icon-stackbit:before {
  content: "\e981";
}
.icon-shopware:before {
  content: "\e982";
}
.icon-appstore:before {
  content: "\e983";
}
.icon-teamviewer:before {
  content: "\e984";
}
.icon-concourse:before {
  content: "\e985";
}
.icon-plangrid:before {
  content: "\e986";
}
.icon-xamarin:before {
  content: "\e987";
}
.icon-storify:before {
  content: "\e988";
}
.icon-visualstudiocode:before {
  content: "\e989";
}
.icon-typescript:before {
  content: "\e98a";
}
.icon-venmo:before {
  content: "\e98b";
}
.icon-dart:before {
  content: "\e98c";
}
.icon-freedesktop-dot-org:before {
  content: "\e98d";
}
.icon-spacex:before {
  content: "\e98e";
}
.icon-scribd:before {
  content: "\e98f";
}
.icon-keycdn:before {
  content: "\e990";
}
.icon-iata:before {
  content: "\e991";
}
.icon-tracklists:before {
  content: "\e992";
}
.icon-coveralls:before {
  content: "\e993";
}
.icon-symphony:before {
  content: "\e994";
}
.icon-twitter:before {
  content: "\e995";
}
.icon-zingat:before {
  content: "\e996";
}
.icon-hexo:before {
  content: "\e997";
}
.icon-dash:before {
  content: "\e998";
}
.icon-codeforces:before {
  content: "\e999";
}
.icon-bitwarden:before {
  content: "\e99a";
}
.icon-drupal:before {
  content: "\e99b";
}
.icon-dassaultsystemes:before {
  content: "\e99c";
}
.icon-brand-dot-ai:before {
  content: "\e99d";
}
.icon-sonarqube:before {
  content: "\e99e";
}
.icon-stripe:before {
  content: "\e99f";
}
.icon-curl:before {
  content: "\e9a0";
}
.icon-adobelightroomclassic:before {
  content: "\e9a1";
}
.icon-apacheopenoffice:before {
  content: "\e9a2";
}
.icon-material-ui:before {
  content: "\e9a3";
}
.icon-fluentd:before {
  content: "\e9a4";
}
.icon-spdx:before {
  content: "\e9a5";
}
.icon-repl-dot-it:before {
  content: "\e9a6";
}
.icon-staffbase:before {
  content: "\e9a7";
}
.icon-pastebin:before {
  content: "\e9a8";
}
.icon-hackster:before {
  content: "\e9a9";
}
.icon-trello:before {
  content: "\e9aa";
}
.icon-linuxfoundation:before {
  content: "\e9ab";
}
.icon-microsoftazure:before {
  content: "\e9ac";
}
.icon-logmein:before {
  content: "\e9ad";
}
.icon-iconjar:before {
  content: "\e9ae";
}
.icon-crunchbase:before {
  content: "\e9af";
}
.icon-cloudsmith:before {
  content: "\e9b0";
}
.icon-nextcloud:before {
  content: "\e9b1";
}
.icon-garmin:before {
  content: "\e9b2";
}
.icon-elm:before {
  content: "\e9b3";
}
.icon-acm:before {
  content: "\e9b4";
}
.icon-freelancer:before {
  content: "\e9b5";
}
.icon-webpack:before {
  content: "\e9b6";
}
.icon-opengl:before {
  content: "\e9b7";
}
.icon-osmc:before {
  content: "\e9b8";
}
.icon-gnuprivacyguard:before {
  content: "\e9b9";
}
.icon-teespring:before {
  content: "\e9ba";
}
.icon-influxdb:before {
  content: "\e9bb";
}
.icon-xsplit:before {
  content: "\e9bc";
}
.icon-px:before {
  content: "\e9bd";
}
.icon-sap:before {
  content: "\e9be";
}
.icon-wikimediacommons:before {
  content: "\e9bf";
}
.icon-archlinux:before {
  content: "\e9c0";
}
.icon-linkedin:before {
  content: "\e9c1";
}
.icon-iobroker:before {
  content: "\e9c2";
}
.icon-reactos:before {
  content: "\e9c3";
}
.icon-sega:before {
  content: "\e9c4";
}
.icon-homeassistant:before {
  content: "\e9c5";
}
.icon-alpinelinux:before {
  content: "\e9c6";
}
.icon-dependabot:before {
  content: "\e9c7";
}
.icon-superuser:before {
  content: "\e9c8";
}
.icon-clockify:before {
  content: "\e9c9";
}
.icon-telegram:before {
  content: "\e9ca";
}
.icon-aventrix:before {
  content: "\e9cb";
}
.icon-kotlin:before {
  content: "\e9cc";
}
.icon-virb:before {
  content: "\e9cd";
}
.icon-dell:before {
  content: "\e9ce";
}
.icon-wordpress:before {
  content: "\e9cf";
}
.icon-vbulletin:before {
  content: "\e9d0";
}
.icon-gravatar:before {
  content: "\e9d1";
}
.icon-evry:before {
  content: "\e9d2";
}
.icon-webcomponents-dot-org:before {
  content: "\e9d3";
}
.icon-battle-dot-net:before {
  content: "\e9d4";
}
.icon-googlecast:before {
  content: "\e9d5";
}
.icon-roundcube:before {
  content: "\e9d6";
}
.icon-hockeyapp:before {
  content: "\e9d7";
}
.icon-topcoder:before {
  content: "\e9d8";
}
.icon-gitpod:before {
  content: "\e9d9";
}
.icon-alipay:before {
  content: "\e9da";
}
.icon-mathworks:before {
  content: "\e9db";
}
.icon-ripple:before {
  content: "\e9dc";
}
.icon-plesk:before {
  content: "\e9dd";
}
.icon-ghost:before {
  content: "\e9de";
}
.icon-yarn:before {
  content: "\e9df";
}
.icon-svgo:before {
  content: "\e9e0";
}
.icon-helm:before {
  content: "\e9e1";
}
.icon-habr:before {
  content: "\e9e2";
}
.icon-hp:before {
  content: "\e9e3";
}
.icon-floatplane:before {
  content: "\e9e4";
}
.icon-compropago:before {
  content: "\e9e5";
}
.icon-artstation:before {
  content: "\e9e6";
}
.icon-messenger:before {
  content: "\e9e7";
}
.icon-wish:before {
  content: "\e9e8";
}
.icon-write-dot-as:before {
  content: "\e9e9";
}
.icon-salesforce:before {
  content: "\e9ea";
}
.icon-cevo:before {
  content: "\e9eb";
}
.icon-klm:before {
  content: "\e9ec";
}
.icon-sitepoint:before {
  content: "\e9ed";
}
.icon-fossilscm:before {
  content: "\e9ee";
}
.icon-neo4j:before {
  content: "\e9ef";
}
.icon-cisco:before {
  content: "\e9f0";
}
.icon-skypeforbusiness:before {
  content: "\e9f1";
}
.icon-expertsexchange:before {
  content: "\e9f2";
}
.icon-hatenabookmark:before {
  content: "\e9f3";
}
.icon-bathasu:before {
  content: "\e9f4";
}
.icon-kaggle:before {
  content: "\e9f5";
}
.icon-skype:before {
  content: "\e9f6";
}
.icon-airtable:before {
  content: "\e9f7";
}
.icon-octave:before {
  content: "\e9f8";
}
.icon-groovy:before {
  content: "\e9f9";
}
.icon-dunked:before {
  content: "\e9fa";
}
.icon-smartthings:before {
  content: "\e9fb";
}
.icon-f-secure:before {
  content: "\e9fc";
}
.icon-sourcegraph:before {
  content: "\e9fd";
}
.icon-livejournal:before {
  content: "\e9fe";
}
.icon-qualtrics:before {
  content: "\e9ff";
}
.icon-xero:before {
  content: "\ea00";
}
.icon-at-and-t:before {
  content: "\ea01";
}
.icon-vimeo:before {
  content: "\ea02";
}
.icon-ulule:before {
  content: "\ea03";
}
.icon-co-op:before {
  content: "\ea04";
}
.icon-kodi:before {
  content: "\ea05";
}
.icon-periscope:before {
  content: "\ea06";
}
.icon-cassandra:before {
  content: "\ea07";
}
.icon-sat-dot-1:before {
  content: "\ea08";
}
.icon-logstash:before {
  content: "\ea09";
}
.icon-x-pack:before {
  content: "\ea0a";
}
.icon-kibana:before {
  content: "\ea0b";
}
.icon-elasticsearch:before {
  content: "\ea0c";
}
.icon-elasticstack:before {
  content: "\ea0d";
}
.icon-elasticcloud:before {
  content: "\ea0e";
}
.icon-elastic:before {
  content: "\ea0f";
}
.icon-haveibeenpwned:before {
  content: "\ea10";
}
.icon-adobephotoshop:before {
  content: "\ea11";
}
.icon-beats:before {
  content: "\ea12";
}
.icon-adobephonegap:before {
  content: "\ea13";
}
.icon-tencentweibo:before {
  content: "\ea14";
}
.icon-rtlzwei:before {
  content: "\ea15";
}
.icon-react:before {
  content: "\ea16";
}
.icon-java:before {
  content: "\ea17";
}
.icon-minutemailer:before {
  content: "\ea18";
}
.icon-datacamp:before {
  content: "\ea19";
}
.icon-bandcamp:before {
  content: "\ea1a";
}
.icon-udacity:before {
  content: "\ea1b";
}
.icon-zorin:before {
  content: "\ea1c";
}
.icon-brandfolder:before {
  content: "\ea1d";
}
.icon-amazonalexa:before {
  content: "\ea1e";
}
.icon-appveyor:before {
  content: "\ea1f";
}
.icon-mariadb:before {
  content: "\ea20";
}
.icon-go:before {
  content: "\ea21";
}
.icon-proto-dot-io:before {
  content: "\ea22";
}
.icon-cloudbees:before {
  content: "\ea23";
}
.icon-jenkinsx:before {
  content: "\ea24";
}
.icon-spinnaker:before {
  content: "\ea25";
}
.icon-aerlingus:before {
  content: "\ea26";
}
.icon-electron:before {
  content: "\ea27";
}
.icon-dashlane:before {
  content: "\ea28";
}
.icon-probot:before {
  content: "\ea29";
}
.icon-gradle:before {
  content: "\ea2a";
}
.icon-angularuniversal:before {
  content: "\ea2b";
}
.icon-pluscodes:before {
  content: "\ea2c";
}
.icon-hackhands:before {
  content: "\ea2d";
}
.icon-wpengine:before {
  content: "\ea2e";
}
.icon-zendesk:before {
  content: "\ea2f";
}
.icon-apacheairflow:before {
  content: "\ea30";
}
.icon-runkeeper:before {
  content: "\ea31";
}
.icon-exercism:before {
  content: "\ea32";
}
.icon-ipfs:before {
  content: "\ea33";
}
.icon-adobelightroomcc:before {
  content: "\ea34";
}
.icon-skillshare:before {
  content: "\ea35";
}
.icon-lineageos:before {
  content: "\ea36";
}
.icon-travisci:before {
  content: "\ea37";
}
.icon-umbraco:before {
  content: "\ea38";
}
.icon-gumroad:before {
  content: "\ea39";
}
.icon-arduino:before {
  content: "\ea3a";
}
.icon-fitbit:before {
  content: "\ea3b";
}
.icon-fandom:before {
  content: "\ea3c";
}
.icon-canva:before {
  content: "\ea3d";
}
.icon-icon:before {
  content: "\ea3e";
}
.icon-bandsintown:before {
  content: "\ea3f";
}
.icon-siemens:before {
  content: "\ea40";
}
.icon-latex:before {
  content: "\ea41";
}
.icon-xing:before {
  content: "\ea42";
}
.icon-tailwindcss:before {
  content: "\ea43";
}
.icon-deliveroo:before {
  content: "\ea44";
}
.icon-slashdot:before {
  content: "\ea45";
}
.icon-netlify:before {
  content: "\ea46";
}
.icon-pingup:before {
  content: "\ea47";
}
.icon-egnyte:before {
  content: "\ea48";
}
.icon-here:before {
  content: "\ea49";
}
.icon-researchgate:before {
  content: "\ea4a";
}
.icon-saltstack:before {
  content: "\ea4b";
}
.icon-gitkraken:before {
  content: "\ea4c";
}
.icon-magisk:before {
  content: "\ea4d";
}
.icon-clyp:before {
  content: "\ea4e";
}
.icon-googlehangoutschat:before {
  content: "\ea4f";
}
.icon-about-dot-me:before {
  content: "\ea50";
}
.icon-kaspersky:before {
  content: "\ea51";
}
.icon-zulip:before {
  content: "\ea52";
}
.icon-bulma:before {
  content: "\ea53";
}
.icon-bing:before {
  content: "\ea54";
}
.icon-adobeaudition:before {
  content: "\ea55";
}
.icon-khanacademy:before {
  content: "\ea56";
}
.icon-steemit:before {
  content: "\ea57";
}
.icon-pexels:before {
  content: "\ea58";
}
.icon-transportforlondon:before {
  content: "\ea59";
}
.icon-nuxt-dot-js:before {
  content: "\ea5a";
}
.icon-trustpilot:before {
  content: "\ea5b";
}
.icon-skyliner:before {
  content: "\ea5c";
}
.icon-aircall:before {
  content: "\ea5d";
}
.icon-vine:before {
  content: "\ea5e";
}
.icon-tripadvisor:before {
  content: "\ea5f";
}
.icon-semaphoreci:before {
  content: "\ea60";
}
.icon-themoviedatabase:before {
  content: "\ea61";
}
.icon-kickstarter:before {
  content: "\ea62";
}
.icon-greenkeeper:before {
  content: "\ea63";
}
.icon-geocaching:before {
  content: "\ea64";
}
.icon-castro:before {
  content: "\ea65";
}
.icon-moo:before {
  content: "\ea66";
}
.icon-googlehangouts:before {
  content: "\ea67";
}
.icon-vue-dot-js:before {
  content: "\ea68";
}
.icon-formstack:before {
  content: "\ea69";
}
.icon-linode:before {
  content: "\ea6a";
}
.icon-fiverr:before {
  content: "\ea6b";
}
.icon-googlesheets:before {
  content: "\ea6c";
}
.icon-speakerdeck:before {
  content: "\ea6d";
}
.icon-koding:before {
  content: "\ea6e";
}
.icon-gauges:before {
  content: "\ea6f";
}
.icon-imgur:before {
  content: "\ea70";
}
.icon-xrp:before {
  content: "\ea71";
}
.icon-androidstudio:before {
  content: "\ea72";
}
.icon-linewebtoon:before {
  content: "\ea73";
}
.icon-snapcraft:before {
  content: "\ea74";
}
.icon-homify:before {
  content: "\ea75";
}
.icon-picarto-dot-tv:before {
  content: "\ea76";
}
.icon-graphcool:before {
  content: "\ea77";
}
.icon-android:before {
  content: "\ea78";
}
.icon-esea:before {
  content: "\ea79";
}
.icon-microsoftexcel:before {
  content: "\ea7a";
}
.icon-whatsapp:before {
  content: "\ea7b";
}
.icon-nextdoor:before {
  content: "\ea7c";
}
.icon-spotify:before {
  content: "\ea7d";
}
.icon-pixabay:before {
  content: "\ea7e";
}
.icon-hackerrank:before {
  content: "\ea7f";
}
.icon-deviantart:before {
  content: "\ea80";
}
.icon-cashapp:before {
  content: "\ea81";
}
.icon-lmms:before {
  content: "\ea82";
}
.icon-treehouse:before {
  content: "\ea83";
}
.icon-glassdoor:before {
  content: "\ea84";
}
.icon-manjaro:before {
  content: "\ea85";
}
.icon-sellfy:before {
  content: "\ea86";
}
.icon-douban:before {
  content: "\ea87";
}
.icon-veeam:before {
  content: "\ea88";
}
.icon-vim:before {
  content: "\ea89";
}
.icon-postwoman:before {
  content: "\ea8a";
}
.icon-evernote:before {
  content: "\ea8b";
}
.icon-threema:before {
  content: "\ea8c";
}
.icon-letterboxd:before {
  content: "\ea8d";
}
.icon-feedly:before {
  content: "\ea8e";
}
.icon-celery:before {
  content: "\ea8f";
}
.icon-photocrowd:before {
  content: "\ea90";
}
.icon-minetest:before {
  content: "\ea91";
}
.icon-emlakjet:before {
  content: "\ea92";
}
.icon-adguard:before {
  content: "\ea93";
}
.icon-nginx:before {
  content: "\ea94";
}
.icon-microbit:before {
  content: "\ea95";
}
.icon-basecamp:before {
  content: "\ea96";
}
.icon-mongodb:before {
  content: "\ea97";
}
.icon-line:before {
  content: "\ea98";
}
.icon-hulu:before {
  content: "\ea99";
}
.icon-opensourceinitiative:before {
  content: "\ea9a";
}
.icon-freecodecamp:before {
  content: "\ea9b";
}
.icon-node-dot-js:before {
  content: "\ea9c";
}
.icon-csharp:before {
  content: "\ea9d";
}
.icon-xbox:before {
  content: "\ea9e";
}
.icon-dlna:before {
  content: "\ea9f";
}
.icon-eventstore:before {
  content: "\eaa0";
}
.icon-overleaf:before {
  content: "\eaa1";
}
.icon-emby:before {
  content: "\eaa2";
}
.icon-paloaltosoftware:before {
  content: "\eaa3";
}
.icon-openstreetmap:before {
  content: "\eaa4";
}
.icon-libreoffice:before {
  content: "\eaa5";
}
.icon-instacart:before {
  content: "\eaa6";
}
.icon-adobedreamweaver:before {
  content: "\eaa7";
}
.icon-parse-dot-ly:before {
  content: "\eaa8";
}
.icon-wheniwork:before {
  content: "\eaa9";
}
.icon-anaconda:before {
  content: "\eaaa";
}
.icon-neovim:before {
  content: "\eaab";
}
.icon-skoda:before {
  content: "\eaac";
}
.icon-untangle:before {
  content: "\eaad";
}
.icon-seagate:before {
  content: "\eaae";
}
.icon-nodemon:before {
  content: "\eaaf";
}
.icon-gnubash:before {
  content: "\eab0";
}
.icon-upwork:before {
  content: "\eab1";
}
.icon-wemo:before {
  content: "\eab2";
}
.icon-empirekred:before {
  content: "\eab3";
}
.icon-keepassxc:before {
  content: "\eab4";
}
.icon-gumtree:before {
  content: "\eab5";
}
.icon-houzz:before {
  content: "\eab6";
}
.icon-smugmug:before {
  content: "\eab7";
}
.icon-shopify:before {
  content: "\eab8";
}
.icon-civicrm:before {
  content: "\eab9";
}
.icon-sensu:before {
  content: "\eaba";
}
.icon-duolingo:before {
  content: "\eabb";
}
.icon-trulia:before {
  content: "\eabc";
}
.icon-spring:before {
  content: "\eabd";
}
.icon-qiita:before {
  content: "\eabe";
}
.icon-qgis:before {
  content: "\eabf";
}
.icon-openapiinitiative:before {
  content: "\eac0";
}
.icon-linuxmint:before {
  content: "\eac1";
}
.icon-ubereats:before {
  content: "\eac2";
}
.icon-opensuse:before {
  content: "\eac3";
}
.icon-swagger:before {
  content: "\eac4";
}
.icon-groupon:before {
  content: "\eac5";
}
.icon-gitea:before {
  content: "\eac6";
}
.icon-adobetypekit:before {
  content: "\eac7";
}
.icon-zerply:before {
  content: "\eac8";
}
.icon-zendframework:before {
  content: "\eac9";
}
.icon-wechat:before {
  content: "\eaca";
}
.icon-sencha:before {
  content: "\eacb";
}
.icon-nvidia:before {
  content: "\eacc";
}
.icon-envato:before {
  content: "\eacd";
}
.icon-kik:before {
  content: "\eace";
}
.icon-hellofresh:before {
  content: "\eacf";
}
.icon-greensock:before {
  content: "\ead0";
}
.icon-platzi:before {
  content: "\ead1";
}
.icon-icq:before {
  content: "\ead2";
}
.icon-beatport:before {
  content: "\ead3";
}
.icon-genius:before {
  content: "\ead4";
}
.icon-orcid:before {
  content: "\ead5";
}
.icon-dazn:before {
  content: "\ead6";
}
.icon-sahibinden:before {
  content: "\ead7";
}
.icon-eslgaming:before {
  content: "\ead8";
}
.icon-snapchat:before {
  content: "\ead9";
}
.icon-pingdom:before {
  content: "\eada";
}
.icon-opel:before {
  content: "\eadb";
}
.icon-javascript:before {
  content: "\eadc";
}
.icon-mailchimp:before {
  content: "\eadd";
}
.icon-pantheon:before {
  content: "\eade";
}
.icon-labview:before {
  content: "\eadf";
}
.icon-nim:before {
  content: "\eae0";
}
.icon-qwiklabs:before {
  content: "\eae1";
}
.icon-tapas:before {
  content: "\eae2";
}
.icon-shell:before {
  content: "\eae3";
}
.icon-qzone:before {
  content: "\eae4";
}
.icon-babel:before {
  content: "\eae5";
}
.icon-mcdonalds:before {
  content: "\eae6";
}
.icon-liberapay:before {
  content: "\eae7";
}
.icon-spreaker:before {
  content: "\eae8";
}
.icon-allocine:before {
  content: "\eae9";
}
.icon-pokemon:before {
  content: "\eaea";
}
.icon-sprint:before {
  content: "\eaeb";
}
.icon-pagseguro:before {
  content: "\eaec";
}
.icon-launchpad:before {
  content: "\eaed";
}
.icon-openbsd:before {
  content: "\eaee";
}
.icon-minds:before {
  content: "\eaef";
}
.icon-imdb:before {
  content: "\eaf0";
}
.icon-docusign:before {
  content: "\eaf1";
}
.icon-tele5:before {
  content: "\eaf2";
}
.icon-linux:before {
  content: "\eaf3";
}
.icon-jet:before {
  content: "\eaf4";
}
.icon-googlestreetview:before {
  content: "\eaf5";
}
.icon-monkeytie:before {
  content: "\eaf6";
}
.icon-firebase:before {
  content: "\eaf7";
}
.icon-untappd:before {
  content: "\eaf8";
}
.icon-renault:before {
  content: "\eaf9";
}
.icon-sketch:before {
  content: "\eafa";
}
.icon-googlekeep:before {
  content: "\eafb";
}
.icon-goldenline:before {
  content: "\eafc";
}
.icon-timescale:before {
  content: "\eafd";
}
.icon-symantec:before {
  content: "\eafe";
}
.icon-fnac:before {
  content: "\eaff";
}
.icon-fidoalliance:before {
  content: "\eb00";
}
.icon-prettier:before {
  content: "\eb01";
}
.icon-monogram:before {
  content: "\eb02";
}
.icon-puppet:before {
  content: "\eb03";
}
.icon-plex:before {
  content: "\eb04";
}
.icon-furaffinity:before {
  content: "\eb05";
}
.icon-audiomack:before {
  content: "\eb06";
}
.icon-grunt:before {
  content: "\eb07";
}
.icon-loop:before {
  content: "\eb08";
}
.icon-rss:before {
  content: "\eb09";
}
.icon-xdadevelopers:before {
  content: "\eb0a";
}
.icon-sourceengine:before {
  content: "\eb0b";
}
.icon-pre-commit:before {
  content: "\eb0c";
}
.icon-leetcode:before {
  content: "\eb0d";
}
.icon-svg:before {
  content: "\eb0e";
}
.icon-abbrobotstudio:before {
  content: "\eb0f";
}
.icon-sublimetext:before {
  content: "\eb10";
}
.icon-gitlab:before {
  content: "\eb11";
}
.icon-deezer:before {
  content: "\eb12";
}
.icon-amazon:before {
  content: "\eb13";
}
.icon-chef:before {
  content: "\eb14";
}
.icon-creativecommons:before {
  content: "\eb15";
}
.icon-bitcoin:before {
  content: "\eb16";
}
.icon-audible:before {
  content: "\eb17";
}
.icon-swarm:before {
  content: "\eb18";
}
.icon-vlcmediaplayer:before {
  content: "\eb19";
}
.icon-d3-dot-js:before {
  content: "\eb1a";
}
.icon-wattpad:before {
  content: "\eb1b";
}
.icon-gatling:before {
  content: "\eb1c";
}
.icon-boost:before {
  content: "\eb1d";
}
.icon-qiwi:before {
  content: "\eb1e";
}
.icon-googleanalytics:before {
  content: "\eb1f";
}
.icon-micro-dot-blog:before {
  content: "\eb20";
}
.icon-openaccess:before {
  content: "\eb21";
}
.icon-typo3:before {
  content: "\eb22";
}
.icon-nintendonetwork:before {
  content: "\eb23";
}
.icon-apacherocketmq:before {
  content: "\eb24";
}
.icon-goodreads:before {
  content: "\eb25";
}
.icon-slickpic:before {
  content: "\eb26";
}
.icon-proxmox:before {
  content: "\eb27";
}
.icon-haxe:before {
  content: "\eb28";
}
.icon-adobeillustrator:before {
  content: "\eb29";
}
.icon-carthrottle:before {
  content: "\eb2a";
}
.icon-cloudflare:before {
  content: "\eb2b";
}
.icon-overcast:before {
  content: "\eb2c";
}
.icon-pleroma:before {
  content: "\eb2d";
}
.icon-viadeo:before {
  content: "\eb2e";
}
.icon-hive:before {
  content: "\eb2f";
}
.icon-zdf:before {
  content: "\eb30";
}
.icon-openvpn:before {
  content: "\eb31";
}
.icon-mocha:before {
  content: "\eb32";
}
.icon-stackoverflow:before {
  content: "\eb33";
}
.icon-x-dot-org:before {
  content: "\eb34";
}
.icon-fandango:before {
  content: "\eb35";
}
.icon-composer:before {
  content: "\eb36";
}
.icon-grafana:before {
  content: "\eb37";
}
.icon-twoo:before {
  content: "\eb38";
}
.icon-tensorflow:before {
  content: "\eb39";
}
.icon-elsevier:before {
  content: "\eb3a";
}
.icon-zalando:before {
  content: "\eb3b";
}
.icon-openid:before {
  content: "\eb3c";
}
.icon-mix:before {
  content: "\eb3d";
}
.icon-odnoklassniki:before {
  content: "\eb3e";
}
.icon-crunchyroll:before {
  content: "\eb3f";
}
.icon-xampp:before {
  content: "\eb40";
}
.icon-pjsip:before {
  content: "\eb41";
}
.icon-sourceforge:before {
  content: "\eb42";
}
.icon-sonicwall:before {
  content: "\eb43";
}
.icon-rabbitmq:before {
  content: "\eb44";
}
.icon-peertube:before {
  content: "\eb45";
}
.icon-tableau:before {
  content: "\eb46";
}
.icon-ocaml:before {
  content: "\eb47";
}
.icon-qemu:before {
  content: "\eb48";
}
.icon-draugiem-dot-lv:before {
  content: "\eb49";
}
.icon-easyjet:before {
  content: "\eb4a";
}
.icon-monero:before {
  content: "\eb4b";
}
.icon-discover:before {
  content: "\eb4c";
}
.icon-jupyter:before {
  content: "\eb4d";
}
.icon-devrant:before {
  content: "\eb4e";
}
.icon-blender:before {
  content: "\eb4f";
}
.icon-xiaomi:before {
  content: "\eb50";
}
.icon-coronaengine:before {
  content: "\eb51";
}
.icon-buymeacoffee:before {
  content: "\eb52";
}
.icon-sonarcloud:before {
  content: "\eb53";
}
.icon-antena3:before {
  content: "\eb54";
}
.icon-bmcsoftware:before {
  content: "\eb55";
}
.icon-strava:before {
  content: "\eb56";
}
.icon-faceit:before {
  content: "\eb57";
}
.icon-etsy:before {
  content: "\eb58";
}
.icon-sparkpost:before {
  content: "\eb59";
}
.icon-magento:before {
  content: "\eb5a";
}
.icon-origin:before {
  content: "\eb5b";
}
.icon-sogou:before {
  content: "\eb5c";
}
.icon-klout:before {
  content: "\eb5d";
}
.icon-bitly:before {
  content: "\eb5e";
}
.icon-ycombinator:before {
  content: "\eb5f";
}
.icon-apachespark:before {
  content: "\eb60";
}
.icon-teradata:before {
  content: "\eb61";
}
.icon-cpanel:before {
  content: "\eb62";
}
.icon-mozillafirefox:before {
  content: "\eb63";
}
.icon-castbox:before {
  content: "\eb64";
}
.icon-zapier:before {
  content: "\eb65";
}
.icon-swift:before {
  content: "\eb66";
}
.icon-microsoftoffice:before {
  content: "\eb67";
}
.icon-kentico:before {
  content: "\eb68";
}
.icon-reddit:before {
  content: "\eb69";
}
.icon-poly:before {
  content: "\eb6a";
}
.icon-googlecardboard:before {
  content: "\eb6b";
}
.icon-pluralsight:before {
  content: "\eb6c";
}
.icon-ubuntu:before {
  content: "\eb6d";
}
.icon-quest:before {
  content: "\eb6e";
}
.icon-auth0:before {
  content: "\eb6f";
}
.icon-smashingmagazine:before {
  content: "\eb70";
}
.icon-postman:before {
  content: "\eb71";
}
.icon-postcss:before {
  content: "\eb72";
}
.icon-figma:before {
  content: "\eb73";
}
.icon-maas:before {
  content: "\eb74";
}
.icon-houdini:before {
  content: "\eb75";
}
.icon-blogger:before {
  content: "\eb76";
}
.icon-svelte:before {
  content: "\eb77";
}
.icon-highly:before {
  content: "\eb78";
}
.icon-microsoftpowerpoint:before {
  content: "\eb79";
}
.icon-producthunt:before {
  content: "\eb7a";
}
.icon-duckduckgo:before {
  content: "\eb7b";
}
.icon-wprocket:before {
  content: "\eb7c";
}
.icon-html5:before {
  content: "\eb7d";
}
.icon-brave:before {
  content: "\eb7e";
}
.icon-quip:before {
  content: "\eb7f";
}
.icon-coronarenderer:before {
  content: "\eb80";
}
.icon-prometheus:before {
  content: "\eb81";
}
.icon-lighthouse:before {
  content: "\eb82";
}
.icon-soundcloud:before {
  content: "\eb83";
}
.icon-apachesolr:before {
  content: "\eb84";
}
.icon-hubspot:before {
  content: "\eb85";
}
.icon-bandlab:before {
  content: "\eb86";
}
.icon-bower:before {
  content: "\eb87";
}
.icon-codeigniter:before {
  content: "\eb88";
}
.icon-eventbrite:before {
  content: "\eb89";
}
.icon-stencyl:before {
  content: "\eb8a";
}
.icon-pytorch:before {
  content: "\eb8b";
}
.icon-git:before {
  content: "\eb8c";
}
.icon-adobeacrobatreader:before {
  content: "\eb8d";
}
.icon-sentry:before {
  content: "\eb8e";
}
.icon-ember-dot-js:before {
  content: "\eb8f";
}
.icon-everplaces:before {
  content: "\eb90";
}
.icon-rubygems:before {
  content: "\eb91";
}
.icon-patreon:before {
  content: "\eb92";
}
.icon-addthis:before {
  content: "\eb93";
}
.icon-issuu:before {
  content: "\eb94";
}
.icon-craftcms:before {
  content: "\eb95";
}
.icon-jenkins:before {
  content: "\eb96";
}
.icon-lumen:before {
  content: "\eb97";
}
.icon-gmail:before {
  content: "\eb98";
}
.icon-wolframmathematica:before {
  content: "\eb99";
}
.icon-reverbnation:before {
  content: "\eb9a";
}
.icon-sparkfun:before {
  content: "\eb9b";
}
.icon-jsdelivr:before {
  content: "\eb9c";
}
.icon-buzzfeed:before {
  content: "\eb9d";
}
.icon-reason:before {
  content: "\eb9e";
}
.icon-wolframlanguage:before {
  content: "\eb9f";
}
.icon-wolfram:before {
  content: "\eba0";
}
.icon-rollup-dot-js:before {
  content: "\eba1";
}
.icon-fortinet:before {
  content: "\eba2";
}
.icon-todoist:before {
  content: "\eba3";
}
.icon-redis:before {
  content: "\eba4";
}
.icon-ted:before {
  content: "\eba5";
}
.icon-serverless:before {
  content: "\eba6";
}
.icon-saucelabs:before {
  content: "\eba7";
}
.icon-makerbot:before {
  content: "\eba8";
}
.icon-lastpass:before {
  content: "\eba9";
}
.icon-laravel:before {
  content: "\ebaa";
}
.icon-lenovo:before {
  content: "\ebab";
}
.icon-pocketcasts:before {
  content: "\ebac";
}
.icon-valve:before {
  content: "\ebad";
}
.icon-plurk:before {
  content: "\ebae";
}
.icon-ferrarin-dot-v-dot:before {
  content: "\ebaf";
}
.icon-last-dot-fm:before {
  content: "\ebb0";
}
.icon-codewars:before {
  content: "\ebb1";
}
.icon-openssl:before {
  content: "\ebb2";
}
.icon-scala:before {
  content: "\ebb3";
}
.icon-quora:before {
  content: "\ebb4";
}
.icon-ruby:before {
  content: "\ebb5";
}
.icon-microsoftsqlserver:before {
  content: "\ebb6";
}
.icon-hurriyetemlak:before {
  content: "\ebb7";
}
.icon-porsche:before {
  content: "\ebb8";
}
.icon-itch-dot-io:before {
  content: "\ebb9";
}
.icon-freebsd:before {
  content: "\ebba";
}
.icon-oracle:before {
  content: "\ebbb";
}
.icon-epel:before {
  content: "\ebbc";
}
.icon-gnu:before {
  content: "\ebbd";
}
.icon-redhatopenshift:before {
  content: "\ebbe";
}
.icon-manageiq:before {
  content: "\ebbf";
}
.icon-vivaldi:before {
  content: "\ebc0";
}
.icon-ansible:before {
  content: "\ebc1";
}
.icon-redhat:before {
  content: "\ebc2";
}
.icon-ko-fi:before {
  content: "\ebc3";
}
.icon-trainerroad:before {
  content: "\ebc4";
}
.icon-vodafone:before {
  content: "\ebc5";
}
.icon-zeromq:before {
  content: "\ebc6";
}
.icon-udemy:before {
  content: "\ebc7";
}
.icon-flipboard:before {
  content: "\ebc8";
}
.icon-asciinema:before {
  content: "\ebc9";
}
.icon-ferrari:before {
  content: "\ebca";
}
.icon-keras:before {
  content: "\ebcb";
}
.icon-adobecreativecloud:before {
  content: "\ebcc";
}
.icon-meteor:before {
  content: "\ebcd";
}
.icon-jekyll:before {
  content: "\ebce";
}
.icon-tesla:before {
  content: "\ebcf";
}
.icon-rails:before {
  content: "\ebd0";
}
.icon-yelp:before {
  content: "\ebd1";
}
.icon-humblebundle:before {
  content: "\ebd2";
}
.icon-filezilla:before {
  content: "\ebd3";
}
.icon-jabber:before {
  content: "\ebd4";
}
.icon-fite:before {
  content: "\ebd5";
}
.icon-cnn:before {
  content: "\ebd6";
}
.icon-khronosgroup:before {
  content: "\ebd7";
}
.icon-mcafee:before {
  content: "\ebd8";
}
.icon-jinja:before {
  content: "\ebd9";
}
.icon-arxiv:before {
  content: "\ebda";
}
.icon-npm:before {
  content: "\ebdb";
}
.icon-archiveofourown:before {
  content: "\ebdc";
}
.icon-node-red:before {
  content: "\ebdd";
}
.icon-weasyl:before {
  content: "\ebde";
}
.icon-webgl:before {
  content: "\ebdf";
}
.icon-youtubestudio:before {
  content: "\ebe0";
}
.icon-ublockorigin:before {
  content: "\ebe1";
}
.icon-rhinoceros:before {
  content: "\ebe2";
}
.icon-youtubetv:before {
  content: "\ebe3";
}
.icon-convertio:before {
  content: "\ebe4";
}
.icon-tinder:before {
  content: "\ebe5";
}
.icon-youtubegaming:before {
  content: "\ebe6";
}
.icon-youtube:before {
  content: "\ebe7";
}
.icon-toshiba:before {
  content: "\ebe8";
}
.icon-yandex:before {
  content: "\ebe9";
}
.icon-microgenetics:before {
  content: "\ebea";
}
.icon-theregister:before {
  content: "\ebeb";
}
.icon-fujitsu:before {
  content: "\ebec";
}
.icon-huawei:before {
  content: "\ebed";
}
.icon-dtube:before {
  content: "\ebee";
}
.icon-adobe:before {
  content: "\ebef";
}
.icon-turkishairlines:before {
  content: "\ebf0";
}
.icon-sonarsource:before {
  content: "\ebf1";
}
.icon-reactrouter:before {
  content: "\ebf2";
}
.icon-adblock:before {
  content: "\ebf3";
}
.icon-gulp:before {
  content: "\ebf4";
}
.icon-microsoftaccess:before {
  content: "\ebf5";
}
.icon-bitdefender:before {
  content: "\ebf6";
}
.icon-squareenix:before {
  content: "\ebf7";
}
.icon-wireguard:before {
  content: "\ebf8";
}
.icon-kyocera:before {
  content: "\ebf9";
}
.icon-fastly:before {
  content: "\ebfa";
}
.icon-trakt:before {
  content: "\ebfb";
}
.icon-serverfault:before {
  content: "\ebfc";
}
.icon-authy:before {
  content: "\ebfd";
}
.icon-amd:before {
  content: "\ebfe";
}
.icon-trendmicro:before {
  content: "\ebff";
}
.icon-cdprojekt:before {
  content: "\ec00";
}
.icon-angularjs:before {
  content: "\ec01";
}
.icon-toggl:before {
  content: "\ec02";
}
.icon-ebay:before {
  content: "\ec03";
}
.icon-sonarlint:before {
  content: "\ec04";
}
.icon-verizon:before {
  content: "\ec05";
}
.icon-pi-hole:before {
  content: "\ec06";
}
.icon-cakephp:before {
  content: "\ec07";
}
.icon-airbnb:before {
  content: "\ec08";
}
.icon-microstrategy:before {
  content: "\ec09";
}
.icon-hellyhansen:before {
  content: "\ec0a";
}
.icon-tencentqq:before {
  content: "\ec0b";
}
.icon-netflix:before {
  content: "\ec0c";
}
.icon-suzuki:before {
  content: "\ec0d";
}
.icon-mojang:before {
  content: "\ec0e";
}
.icon-mega:before {
  content: "\ec0f";
}
.icon-radiopublic:before {
  content: "\ec10";
}
.icon-nintendo3ds:before {
  content: "\ec11";
}
.icon-quantopian:before {
  content: "\ec12";
}
.icon-apache:before {
  content: "\ec13";
}
.icon-veritas:before {
  content: "\ec14";
}
.icon-ifood:before {
  content: "\ec15";
}
.icon-redbubble:before {
  content: "\ec16";
}
.icon-prosieben:before {
  content: "\ec17";
}
.icon-vauxhall:before {
  content: "\ec18";
}
.icon-yamahamotorcorporation:before {
  content: "\ec19";
}
.icon-mitsubishi:before {
  content: "\ec1a";
}
.icon-livestream:before {
  content: "\ec1b";
}
.icon-toyota:before {
  content: "\ec1c";
}
.icon-nintendoswitch:before {
  content: "\ec1d";
}
.icon-mendeley:before {
  content: "\ec1e";
}
.icon-macys:before {
  content: "\ec1f";
}
.icon-hypothesis:before {
  content: "\ec20";
}
.icon-opera:before {
  content: "\ec21";
}
.icon-bosch:before {
  content: "\ec22";
}
.icon-mastercard:before {
  content: "\ec23";
}
.icon-gnusocial:before {
  content: "\ec24";
}
.icon-twilio:before {
  content: "\ec25";
}
.icon-sinaweibo:before {
  content: "\ec26";
}
.icon-pinterest:before {
  content: "\ec27";
}
.icon-pocket:before {
  content: "\ec28";
}
.icon-jest:before {
  content: "\ec29";
}
.icon-playerfm:before {
  content: "\ec2a";
}
.icon-fujifilm:before {
  content: "\ec2b";
}
.icon-vulkan:before {
  content: "\ec2c";
}
.icon-honda:before {
  content: "\ec2d";
}
.icon-beatsbydre:before {
  content: "\ec2e";
}
.icon-autotask:before {
  content: "\ec2f";
}
.icon-steinberg:before {
  content: "\ec30";
}
.icon-justeat:before {
  content: "\ec31";
}
.icon-vivino:before {
  content: "\ec32";
}
.icon-stadia:before {
  content: "\ec33";
}
.icon-themighty:before {
  content: "\ec34";
}
.icon-hitachi:before {
  content: "\ec35";
}
.icon-meetup:before {
  content: "\ec36";
}
.icon-askfm:before {
  content: "\ec37";
}
.icon-apachemaven:before {
  content: "\ec38";
}
.icon-adblockplus:before {
  content: "\ec39";
}
.icon-instagram:before {
  content: "\ec3a";
}
.icon-alfaromeo:before {
  content: "\ec3b";
}
.icon-broadcom:before {
  content: "\ec3c";
}
.icon-debian:before {
  content: "\ec3d";
}
.icon-csswizardry:before {
  content: "\ec3e";
}
.icon-apacheflink:before {
  content: "\ec3f";
}
.icon-codefactor:before {
  content: "\ec40";
}
.icon-openstack:before {
  content: "\ec41";
}
.icon-angular:before {
  content: "\ec42";
}
.icon-slides:before {
  content: "\ec43";
}
.icon-audi:before {
  content: "\ec44";
}
.icon-commonworkflowlanguage:before {
  content: "\ec45";
}
.icon-affinitypublisher:before {
  content: "\ec46";
}
.icon-apacheecharts:before {
  content: "\ec47";
}
.icon-strongswan:before {
  content: "\ec48";
}
.icon-chupachups:before {
  content: "\ec49";
}
.icon-nissan:before {
  content: "\ec4a";
}
.icon-polymerproject:before {
  content: "\ec4b";
}
.icon-a-frame:before {
  content: "\ec4c";
}
.icon-fiat:before {
  content: "\ec4d";
}
.icon-foursquare:before {
  content: "\ec4e";
}
.icon-songkick:before {
  content: "\ec4f";
}
.icon-invision:before {
  content: "\ec50";
}
.icon-bugatti:before {
  content: "\ec51";
}
.icon-zigbee:before {
  content: "\ec52";
}
.icon-raspberrypi:before {
  content: "\ec53";
}
.icon-asciidoctor:before {
  content: "\ec54";
}
.icon-man:before {
  content: "\ec55";
}
.icon-lg:before {
  content: "\ec56";
}
.icon-processwire:before {
  content: "\ec57";
}
.icon-styled-components:before {
  content: "\ec58";
}
.icon-azureartifacts:before {
  content: "\ec59";
}
.icon-storybook:before {
  content: "\ec5a";
}
.icon-dribbble:before {
  content: "\ec5b";
}
.icon-gitter:before {
  content: "\ec5c";
}
.icon-hugo:before {
  content: "\ec5d";
}
.icon-disroot:before {
  content: "\ec5e";
}
.icon-codecov:before {
  content: "\ec5f";
}
.icon-adobeindesign:before {
  content: "\ec60";
}
.icon-bbciplayer:before {
  content: "\ec61";
}
.icon-accusoft:before {
  content: "\ec62";
}
.icon-aurelia:before {
  content: "\ec63";
}
.icon-prestashop:before {
  content: "\ec64";
}
.icon-t-mobile:before {
  content: "\ec65";
}
.icon-ideal:before {
  content: "\ec66";
}
.icon-sass:before {
  content: "\ec67";
}
.icon-graphql:before {
  content: "\ec68";
}
.icon-itunes:before {
  content: "\ec69";
}
.icon-player-dot-me:before {
  content: "\ec6a";
}
.icon-woocommerce:before {
  content: "\ec6b";
}
.icon-apacheant:before {
  content: "\ec6c";
}
.icon-adobexd:before {
  content: "\ec6d";
}
.icon-lyft:before {
  content: "\ec6e";
}
.icon-woo:before {
  content: "\ec6f";
}
.icon-gog-dot-com:before {
  content: "\ec70";
}
.icon-slack:before {
  content: "\ec71";
}
.icon-adobepremiere:before {
  content: "\ec72";
}
.icon-justgiving:before {
  content: "\ec73";
}
.icon-spinrilla:before {
  content: "\ec74";
}
.icon-aiqfome:before {
  content: "\ec75";
}
.icon-microsoftonenote:before {
  content: "\ec76";
}
.icon-icomoon:before {
  content: "\ec77";
}
.icon-bit:before {
  content: "\ec78";
}
.icon-applepodcasts:before {
  content: "\ec79";
}
.icon-elixir:before {
  content: "\ec7a";
}
.icon-tor:before {
  content: "\ec7b";
}
.icon-adobeaftereffects:before {
  content: "\ec7c";
}
.icon-bitrise:before {
  content: "\ec7d";
}
.icon-kaios:before {
  content: "\ec7e";
}
.icon-roku:before {
  content: "\ec7f";
}
.icon-scaleway:before {
  content: "\ec80";
}
.icon-gatsby:before {
  content: "\ec81";
}
