@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xxu50n');
  src:  url('fonts/icomoon.eot?xxu50n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xxu50n') format('truetype'),
    url('fonts/icomoon.woff?xxu50n') format('woff'),
    url('fonts/icomoon.svg?xxu50n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apachecordova:before {
  content: "\e900";
}
.icon-expo:before {
  content: "\e901";
}
.icon-society6:before {
  content: "\e902";
}
.icon-analogue:before {
  content: "\e903";
}
.icon-tomorrowland:before {
  content: "\e904";
}
.icon-protonmail:before {
  content: "\e905";
}
.icon-kirby:before {
  content: "\e906";
}
.icon-hackaday:before {
  content: "\e907";
}
.icon-squarespace:before {
  content: "\e908";
}
.icon-mdnwebdocs:before {
  content: "\e909";
}
.icon-directus:before {
  content: "\e90a";
}
.icon-mozilla:before {
  content: "\e90b";
}
.icon-json:before {
  content: "\e90c";
}
.icon-citrix:before {
  content: "\e90d";
}
.icon-katana:before {
  content: "\e90e";
}
.icon-rust:before {
  content: "\e90f";
}
.icon-airplayvideo:before {
  content: "\e910";
}
.icon-claris:before {
  content: "\e911";
}
.icon-glitch:before {
  content: "\e912";
}
.icon-invoiceninja:before {
  content: "\e913";
}
.icon-conda-forge:before {
  content: "\e914";
}
.icon-citroen:before {
  content: "\e915";
}
.icon-styleshare:before {
  content: "\e916";
}
.icon-hootsuite:before {
  content: "\e917";
}
.icon-libuv:before {
  content: "\e918";
}
.icon-grav:before {
  content: "\e919";
}
.icon-ios:before {
  content: "\e91a";
}
.icon-bugsnag:before {
  content: "\e91b";
}
.icon-contactlesspayment:before {
  content: "\e91c";
}
.icon-flask:before {
  content: "\e91d";
}
.icon-cryengine:before {
  content: "\e91e";
}
.icon-appletv:before {
  content: "\e91f";
}
.icon-discourse:before {
  content: "\e920";
}
.icon-codepen:before {
  content: "\e921";
}
.icon-stackpath:before {
  content: "\e922";
}
.icon-airplayaudio:before {
  content: "\e923";
}
.icon-ello:before {
  content: "\e924";
}
.icon-activision:before {
  content: "\e925";
}
.icon-applemusic:before {
  content: "\e926";
}
.icon-angellist:before {
  content: "\e927";
}
.icon-matrix:before {
  content: "\e928";
}
.icon-intellijidea:before {
  content: "\e929";
}
.icon-anchor:before {
  content: "\e92a";
}
.icon-wikipedia:before {
  content: "\e92b";
}
.icon-internetarchive:before {
  content: "\e92c";
}
.icon-inkscape:before {
  content: "\e92d";
}
.icon-diaspora:before {
  content: "\e92e";
}
.icon-ea:before {
  content: "\e92f";
}
.icon-deno:before {
  content: "\e930";
}
.icon-jetbrains:before {
  content: "\e931";
}
.icon-blackberry:before {
  content: "\e932";
}
.icon-applepay:before {
  content: "\e933";
}
.icon-gutenberg:before {
  content: "\e934";
}
.icon-eleventy:before {
  content: "\e935";
}
.icon-codeclimate:before {
  content: "\e936";
}
.icon-myspace:before {
  content: "\e937";
}
.icon-staticman:before {
  content: "\e938";
}
.icon-baidu:before {
  content: "\e939";
}
.icon-hbo:before {
  content: "\e93a";
}
.icon-mapbox:before {
  content: "\e93b";
}
.icon-markdown:before {
  content: "\e93c";
}
.icon-jsonwebtokens:before {
  content: "\e93d";
}
.icon-codesandbox:before {
  content: "\e93e";
}
.icon-eyeem:before {
  content: "\e93f";
}
.icon-digg:before {
  content: "\e940";
}
.icon-dolby:before {
  content: "\e941";
}
.icon-farfetch:before {
  content: "\e942";
}
.icon-apachekafka:before {
  content: "\e943";
}
.icon-flattr:before {
  content: "\e944";
}
.icon-whitesource:before {
  content: "\e945";
}
.icon-visualstudio:before {
  content: "\e946";
}
.icon-steam:before {
  content: "\e947";
}
.icon-niconico:before {
  content: "\e948";
}
.icon-zeit:before {
  content: "\e949";
}
.icon-wire:before {
  content: "\e94a";
}
.icon-vsco:before {
  content: "\e94b";
}
.icon-purescript:before {
  content: "\e94c";
}
.icon-django:before {
  content: "\e94d";
}
.icon-llvm:before {
  content: "\e94e";
}
.icon-monzo:before {
  content: "\e94f";
}
.icon-figshare:before {
  content: "\e950";
}
.icon-bigcartel:before {
  content: "\e951";
}
.icon-matternet:before {
  content: "\e952";
}
.icon-codechef:before {
  content: "\e953";
}
.icon-academia:before {
  content: "\e954";
}
.icon-workplace:before {
  content: "\e955";
}
.icon-wiiu:before {
  content: "\e956";
}
.icon-unrealengine:before {
  content: "\e957";
}
.icon-gerrit:before {
  content: "\e958";
}
.icon-safari:before {
  content: "\e959";
}
.icon-synology:before {
  content: "\e95a";
}
.icon-gimp:before {
  content: "\e95b";
}
.icon-drone:before {
  content: "\e95c";
}
.icon-github:before {
  content: "\e95d";
}
.icon-seat:before {
  content: "\e95e";
}
.icon-steamworks:before {
  content: "\e95f";
}
.icon-epicgames:before {
  content: "\e960";
}
.icon-simpleicons:before {
  content: "\e961";
}
.icon-laravelnova:before {
  content: "\e962";
}
.icon-webstorm:before {
  content: "\e963";
}
.icon-circleci:before {
  content: "\e964";
}
.icon-thewashingtonpost:before {
  content: "\e965";
}
.icon-opencontainersinitiative:before {
  content: "\e966";
}
.icon-wii:before {
  content: "\e967";
}
.icon-asana:before {
  content: "\e968";
}
.icon-googleplay:before {
  content: "\e969";
}
.icon-newyorktimes:before {
  content: "\e96a";
}
.icon-medium:before {
  content: "\e96b";
}
.icon-mediatemple:before {
  content: "\e96c";
}
.icon-notion:before {
  content: "\e96d";
}
.icon-mxlinux:before {
  content: "\e96e";
}
.icon-pagekit:before {
  content: "\e96f";
}
.icon-qi:before {
  content: "\e970";
}
.icon-midi:before {
  content: "\e971";
}
.icon-next-dot-js:before {
  content: "\e972";
}
.icon-ethereum:before {
  content: "\e973";
}
.icon-wwe:before {
  content: "\e974";
}
.icon-unsplash:before {
  content: "\e975";
}
.icon-php:before {
  content: "\e976";
}
.icon-atom:before {
  content: "\e977";
}
.icon-materialdesign:before {
  content: "\e978";
}
.icon-stylus:before {
  content: "\e979";
}
.icon-scrutinizerci:before {
  content: "\e97a";
}
.icon-coffeescript:before {
  content: "\e97b";
}
.icon-tide:before {
  content: "\e97c";
}
.icon-unity:before {
  content: "\e97d";
}
.icon-ubisoft:before {
  content: "\e97e";
}
.icon-lgtm:before {
  content: "\e97f";
}
.icon-campaignmonitor:before {
  content: "\e980";
}
.icon-badgr:before {
  content: "\e981";
}
.icon-statamic:before {
  content: "\e982";
}
.icon-yamahacorporation:before {
  content: "\e983";
}
.icon-librarything:before {
  content: "\e984";
}
.icon-obsstudio:before {
  content: "\e985";
}
.icon-vmware:before {
  content: "\e986";
}
.icon-slackware:before {
  content: "\e987";
}
.icon-sonos:before {
  content: "\e988";
}
.icon-redux:before {
  content: "\e989";
}
.icon-paritysubstrate:before {
  content: "\e98a";
}
.icon-adobefonts:before {
  content: "\e98b";
}
.icon-known:before {
  content: "\e98c";
}
.icon-hackerone:before {
  content: "\e98d";
}
.icon-codacy:before {
  content: "\e98e";
}
.icon-mazda:before {
  content: "\e98f";
}
.icon-socket-dot-io:before {
  content: "\e990";
}
.icon-notist:before {
  content: "\e991";
}
.icon-feathub:before {
  content: "\e992";
}
.icon-microsoft:before {
  content: "\e993";
}
.icon-square:before {
  content: "\e994";
}
.icon-mercedes:before {
  content: "\e995";
}
.icon-awesomewm:before {
  content: "\e996";
}
.icon-tryitonline:before {
  content: "\e997";
}
.icon-instapaper:before {
  content: "\e998";
}
.icon-symfony:before {
  content: "\e999";
}
.icon-tidal:before {
  content: "\e99a";
}
.icon-palantir:before {
  content: "\e99b";
}
.icon-codeship:before {
  content: "\e99c";
}
.icon-nintendo:before {
  content: "\e99d";
}
.icon-litecoin:before {
  content: "\e99e";
}
.icon-reasonstudios:before {
  content: "\e99f";
}
.icon-cirrusci:before {
  content: "\e9a0";
}
.icon-stitcher:before {
  content: "\e9a1";
}
.icon-tiktok:before {
  content: "\e9a2";
}
.icon-quantcast:before {
  content: "\e9a3";
}
.icon-webrtc:before {
  content: "\e9a4";
}
.icon-dev-dot-to:before {
  content: "\e9a5";
}
.icon-discogs:before {
  content: "\e9a6";
}
.icon-hackerearth:before {
  content: "\e9a7";
}
.icon-affinity:before {
  content: "\e9a8";
}
.icon-abstract:before {
  content: "\e9a9";
}
.icon-nuke:before {
  content: "\e9aa";
}
.icon-oculus:before {
  content: "\e9ab";
}
.icon-uber:before {
  content: "\e9ac";
}
.icon-amazonaws:before {
  content: "\e9ad";
}
.icon-conekta:before {
  content: "\e9ae";
}
.icon-automatic:before {
  content: "\e9af";
}
.icon-apple:before {
  content: "\e9b0";
}
.icon-samsung:before {
  content: "\e9b1";
}
.icon-monster:before {
  content: "\e9b2";
}
.icon-adonisjs:before {
  content: "\e9b3";
}
.icon-datadog:before {
  content: "\e9b4";
}
.icon-htmlacademy:before {
  content: "\e9b5";
}
.icon-tails:before {
  content: "\e9b6";
}
.icon-twitch:before {
  content: "\e9b7";
}
.icon-spacemacs:before {
  content: "\e9b8";
}
.icon-roots:before {
  content: "\e9b9";
}
.icon-eslint:before {
  content: "\e9ba";
}
.icon-pyup:before {
  content: "\e9bb";
}
.icon-harbor:before {
  content: "\e9bc";
}
.icon-webassembly:before {
  content: "\e9bd";
}
.icon-nintendogamecube:before {
  content: "\e9be";
}
.icon-happycow:before {
  content: "\e9bf";
}
.icon-showpad:before {
  content: "\e9c0";
}
.icon-nucleo:before {
  content: "\e9c1";
}
.icon-samsungpay:before {
  content: "\e9c2";
}
.icon-microsoftteams:before {
  content: "\e9c3";
}
.icon-centos:before {
  content: "\e9c4";
}
.icon-apollographql:before {
  content: "\e9c5";
}
.icon-snyk:before {
  content: "\e9c6";
}
.icon-viber:before {
  content: "\e9c7";
}
.icon-favro:before {
  content: "\e9c8";
}
.icon-algolia:before {
  content: "\e9c9";
}
.icon-gnuemacs:before {
  content: "\e9ca";
}
.icon-gentoo:before {
  content: "\e9cb";
}
.icon-stellar:before {
  content: "\e9cc";
}
.icon-terraform:before {
  content: "\e9cd";
}
.icon-eclipseide:before {
  content: "\e9ce";
}
.icon-haskell:before {
  content: "\e9cf";
}
.icon-dot-net:before {
  content: "\e9d0";
}
.icon-circle:before {
  content: "\e9d1";
}
.icon-heroku:before {
  content: "\e9d2";
}
.icon-bootstrap:before {
  content: "\e9d3";
}
.icon-crehana:before {
  content: "\e9d4";
}
.icon-nec:before {
  content: "\e9d5";
}
.icon-spectrum:before {
  content: "\e9d6";
}
.icon-uplabs:before {
  content: "\e9d7";
}
.icon-spotlight:before {
  content: "\e9d8";
}
.icon-marketo:before {
  content: "\e9d9";
}
.icon-webauthn:before {
  content: "\e9da";
}
.icon-affinityphoto:before {
  content: "\e9db";
}
.icon-yahoo:before {
  content: "\e9dc";
}
.icon-amazonlumberyard:before {
  content: "\e9dd";
}
.icon-unicode:before {
  content: "\e9de";
}
.icon-prismic:before {
  content: "\e9df";
}
.icon-pinboard:before {
  content: "\e9e0";
}
.icon-lua:before {
  content: "\e9e1";
}
.icon-waze:before {
  content: "\e9e2";
}
.icon-slashdot:before {
  content: "\e9e3";
}
.icon-playstation:before {
  content: "\e9e4";
}
.icon-zhihu:before {
  content: "\e9e5";
}
.icon-z-wave:before {
  content: "\e9e6";
}
.icon-peugeot:before {
  content: "\e9e7";
}
.icon-flood:before {
  content: "\e9e8";
}
.icon-googlepay:before {
  content: "\e9e9";
}
.icon-airbus:before {
  content: "\e9ea";
}
.icon-delicious:before {
  content: "\e9eb";
}
.icon-riot:before {
  content: "\e9ec";
}
.icon-electron:before {
  content: "\e9ed";
}
.icon-dropbox:before {
  content: "\e9ee";
}
.icon-musescore:before {
  content: "\e9ef";
}
.icon-cinema4d:before {
  content: "\e9f0";
}
.icon-googlecloud:before {
  content: "\e9f1";
}
.icon-aral:before {
  content: "\e9f2";
}
.icon-tumblr:before {
  content: "\e9f3";
}
.icon-materialdesignicons:before {
  content: "\e9f4";
}
.icon-googledrive:before {
  content: "\e9f5";
}
.icon-googlemaps:before {
  content: "\e9f6";
}
.icon-googlemessages:before {
  content: "\e9f7";
}
.icon-fedora:before {
  content: "\e9f8";
}
.icon-powershell:before {
  content: "\e9f9";
}
.icon-pandora:before {
  content: "\e9fa";
}
.icon-octopusdeploy:before {
  content: "\e9fb";
}
.icon-password:before {
  content: "\e9fc";
}
.icon-webmin:before {
  content: "\e9fd";
}
.icon-nuget:before {
  content: "\e9fe";
}
.icon-googleads:before {
  content: "\e9ff";
}
.icon-microsoftword:before {
  content: "\ea00";
}
.icon-hipchat:before {
  content: "\ea01";
}
.icon-dailymotion:before {
  content: "\ea02";
}
.icon-vk:before {
  content: "\ea03";
}
.icon-riseup:before {
  content: "\ea04";
}
.icon-furrynetwork:before {
  content: "\ea05";
}
.icon-bancontact:before {
  content: "\ea06";
}
.icon-epson:before {
  content: "\ea07";
}
.icon-flickr:before {
  content: "\ea08";
}
.icon-godotengine:before {
  content: "\ea09";
}
.icon-mariadbfoundation:before {
  content: "\ea0a";
}
.icon-googlesearchconsole:before {
  content: "\ea0b";
}
.icon-vagrant:before {
  content: "\ea0c";
}
.icon-nativescript:before {
  content: "\ea0d";
}
.icon-atlassian:before {
  content: "\ea0e";
}
.icon-playstation4:before {
  content: "\ea0f";
}
.icon-nfc:before {
  content: "\ea10";
}
.icon-zillow:before {
  content: "\ea11";
}
.icon-dblp:before {
  content: "\ea12";
}
.icon-digitalocean:before {
  content: "\ea13";
}
.icon-actigraph:before {
  content: "\ea14";
}
.icon-imgur:before {
  content: "\ea15";
}
.icon-microsoftvisio:before {
  content: "\ea16";
}
.icon-transportforireland:before {
  content: "\ea17";
}
.icon-clojure:before {
  content: "\ea18";
}
.icon-andela:before {
  content: "\ea19";
}
.icon-fossa:before {
  content: "\ea1a";
}
.icon-keybase:before {
  content: "\ea1b";
}
.icon-iconify:before {
  content: "\ea1c";
}
.icon-eclipsemosquitto:before {
  content: "\ea1d";
}
.icon-framer:before {
  content: "\ea1e";
}
.icon-googlepodcasts:before {
  content: "\ea1f";
}
.icon-googleassistant:before {
  content: "\ea20";
}
.icon-ibm:before {
  content: "\ea21";
}
.icon-windowsxp:before {
  content: "\ea22";
}
.icon-bamboo:before {
  content: "\ea23";
}
.icon-wix:before {
  content: "\ea24";
}
.icon-googlechrome:before {
  content: "\ea25";
}
.icon-cloudcannon:before {
  content: "\ea26";
}
.icon-generalmotors:before {
  content: "\ea27";
}
.icon-googlemybusiness:before {
  content: "\ea28";
}
.icon-statuspage:before {
  content: "\ea29";
}
.icon-v8:before {
  content: "\ea2a";
}
.icon-ford:before {
  content: "\ea2b";
}
.icon-pepsi:before {
  content: "\ea2c";
}
.icon-warnerbros-dot:before {
  content: "\ea2d";
}
.icon-scania:before {
  content: "\ea2e";
}
.icon-ndr:before {
  content: "\ea2f";
}
.icon-solus:before {
  content: "\ea30";
}
.icon-coursera:before {
  content: "\ea31";
}
.icon-stackexchange:before {
  content: "\ea32";
}
.icon-coinbase:before {
  content: "\ea33";
}
.icon-gnome:before {
  content: "\ea34";
}
.icon-r:before {
  content: "\ea35";
}
.icon-icloud:before {
  content: "\ea36";
}
.icon-pr-dot-co:before {
  content: "\ea37";
}
.icon-pypi:before {
  content: "\ea38";
}
.icon-paypal:before {
  content: "\ea39";
}
.icon-teamviewer:before {
  content: "\ea3a";
}
.icon-dart:before {
  content: "\ea3b";
}
.icon-pluscodes:before {
  content: "\ea3c";
}
.icon-xrp:before {
  content: "\ea3d";
}
.icon-nokia:before {
  content: "\ea3e";
}
.icon-behance:before {
  content: "\ea3f";
}
.icon-googleclassroom:before {
  content: "\ea40";
}
.icon-mixer:before {
  content: "\ea41";
}
.icon-dynamics365:before {
  content: "\ea42";
}
.icon-strapi:before {
  content: "\ea43";
}
.icon-googletagmanager:before {
  content: "\ea44";
}
.icon-indeed:before {
  content: "\ea45";
}
.icon-playstation3:before {
  content: "\ea46";
}
.icon-fedramp:before {
  content: "\ea47";
}
.icon-mixcloud:before {
  content: "\ea48";
}
.icon-fifa:before {
  content: "\ea49";
}
.icon-xmpp:before {
  content: "\ea4a";
}
.icon-protocols-dot-io:before {
  content: "\ea4b";
}
.icon-alliedmodders:before {
  content: "\ea4c";
}
.icon-shazam:before {
  content: "\ea4d";
}
.icon-dynatrace:before {
  content: "\ea4e";
}
.icon-mail-dot-ru:before {
  content: "\ea4f";
}
.icon-venmo:before {
  content: "\ea50";
}
.icon-twitter:before {
  content: "\ea51";
}
.icon-pastebin:before {
  content: "\ea52";
}
.icon-repl-dot-it:before {
  content: "\ea53";
}
.icon-googlelens:before {
  content: "\ea54";
}
.icon-nixos:before {
  content: "\ea55";
}
.icon-quicktime:before {
  content: "\ea56";
}
.icon-breaker:before {
  content: "\ea57";
}
.icon-googleearth:before {
  content: "\ea58";
}
.icon-androidauto:before {
  content: "\ea59";
}
.icon-xaml:before {
  content: "\ea5a";
}
.icon-realm:before {
  content: "\ea5b";
}
.icon-archicad:before {
  content: "\ea5c";
}
.icon-googletranslate:before {
  content: "\ea5d";
}
.icon-volkswagen:before {
  content: "\ea5e";
}
.icon-wearos:before {
  content: "\ea5f";
}
.icon-azurepipelines:before {
  content: "\ea60";
}
.icon-boeing:before {
  content: "\ea61";
}
.icon-codio:before {
  content: "\ea62";
}
.icon-google:before {
  content: "\ea63";
}
.icon-googlecalendar:before {
  content: "\ea64";
}
.icon-tata:before {
  content: "\ea65";
}
.icon-googleadsense:before {
  content: "\ea66";
}
.icon-prezi:before {
  content: "\ea67";
}
.icon-lufthansa:before {
  content: "\ea68";
}
.icon-confluence:before {
  content: "\ea69";
}
.icon-phabricator:before {
  content: "\ea6a";
}
.icon-opsgenie:before {
  content: "\ea6b";
}
.icon-discord:before {
  content: "\ea6c";
}
.icon-bitbucket:before {
  content: "\ea6d";
}
.icon-opencollective:before {
  content: "\ea6e";
}
.icon-hashnode:before {
  content: "\ea6f";
}
.icon-googlescholar:before {
  content: "\ea70";
}
.icon-ryanair:before {
  content: "\ea71";
}
.icon-googlefit:before {
  content: "\ea72";
}
.icon-qualcomm:before {
  content: "\ea73";
}
.icon-xcode:before {
  content: "\ea74";
}
.icon-playstation2:before {
  content: "\ea75";
}
.icon-daserste:before {
  content: "\ea76";
}
.icon-ionic:before {
  content: "\ea77";
}
.icon-jira:before {
  content: "\ea78";
}
.icon-googlenearby:before {
  content: "\ea79";
}
.icon-designernews:before {
  content: "\ea7a";
}
.icon-kubernetes:before {
  content: "\ea7b";
}
.icon-toptal:before {
  content: "\ea7c";
}
.icon-subversion:before {
  content: "\ea7d";
}
.icon-v:before {
  content: "\ea7e";
}
.icon-visa:before {
  content: "\ea7f";
}
.icon-facebook:before {
  content: "\ea80";
}
.icon-box:before {
  content: "\ea81";
}
.icon-jcb:before {
  content: "\ea82";
}
.icon-fila:before {
  content: "\ea83";
}
.icon-apachenetbeanside:before {
  content: "\ea84";
}
.icon-buddy:before {
  content: "\ea85";
}
.icon-xfce:before {
  content: "\ea86";
}
.icon-f-droid:before {
  content: "\ea87";
}
.icon-publons:before {
  content: "\ea88";
}
.icon-ovh:before {
  content: "\ea89";
}
.icon-netapp:before {
  content: "\ea8a";
}
.icon-rstudio:before {
  content: "\ea8b";
}
.icon-americanexpress:before {
  content: "\ea8c";
}
.icon-letsencrypt:before {
  content: "\ea8d";
}
.icon-steem:before {
  content: "\ea8e";
}
.icon-fontawesome:before {
  content: "\ea8f";
}
.icon-yammer:before {
  content: "\ea90";
}
.icon-affinitydesigner:before {
  content: "\ea91";
}
.icon-postgresql:before {
  content: "\ea92";
}
.icon-pivotaltracker:before {
  content: "\ea93";
}
.icon-signal:before {
  content: "\ea94";
}
.icon-renren:before {
  content: "\ea95";
}
.icon-mysql:before {
  content: "\ea96";
}
.icon-microsoftsharepoint:before {
  content: "\ea97";
}
.icon-teamspeak:before {
  content: "\ea98";
}
.icon-w3c:before {
  content: "\ea99";
}
.icon-mattermost:before {
  content: "\ea9a";
}
.icon-codecademy:before {
  content: "\ea9b";
}
.icon-stackbit:before {
  content: "\ea9c";
}
.icon-concourse:before {
  content: "\ea9d";
}
.icon-storify:before {
  content: "\ea9e";
}
.icon-hexo:before {
  content: "\ea9f";
}
.icon-elm:before {
  content: "\eaa0";
}
.icon-clockify:before {
  content: "\eaa1";
}
.icon-svgo:before {
  content: "\eaa2";
}
.icon-jenkinsx:before {
  content: "\eaa3";
}
.icon-semaphoreci:before {
  content: "\eaa4";
}
.icon-vuetify:before {
  content: "\eaa5";
}
.icon-lubuntu:before {
  content: "\eaa6";
}
.icon-joomla:before {
  content: "\eaa7";
}
.icon-buffer:before {
  content: "\eaa8";
}
.icon-windows:before {
  content: "\eaa9";
}
.icon-chase:before {
  content: "\eaaa";
}
.icon-first:before {
  content: "\eaab";
}
.icon-webmoney:before {
  content: "\eaac";
}
.icon-plangrid:before {
  content: "\eaad";
}
.icon-visualstudiocode:before {
  content: "\eaae";
}
.icon-iata:before {
  content: "\eaaf";
}
.icon-zingat:before {
  content: "\eab0";
}
.icon-sonarqube:before {
  content: "\eab1";
}
.icon-staffbase:before {
  content: "\eab2";
}
.icon-iconjar:before {
  content: "\eab3";
}
.icon-linuxfoundation:before {
  content: "\eab4";
}
.icon-microsoftazure:before {
  content: "\eab5";
}
.icon-dunked:before {
  content: "\eab6";
}
.icon-travisci:before {
  content: "\eab7";
}
.icon-zoom:before {
  content: "\eab8";
}
.icon-nutanix:before {
  content: "\eab9";
}
.icon-stubhub:before {
  content: "\eaba";
}
.icon-hyundai:before {
  content: "\eabb";
}
.icon-githubactions:before {
  content: "\eabc";
}
.icon-quarkus:before {
  content: "\eabd";
}
.icon-onstar:before {
  content: "\eabe";
}
.icon-deepin:before {
  content: "\eabf";
}
.icon-dcentertainment:before {
  content: "\eac0";
}
.icon-zend:before {
  content: "\eac1";
}
.icon-c:before {
  content: "\eac2";
}
.icon-gnuicecat:before {
  content: "\eac3";
}
.icon-laravelhorizon:before {
  content: "\eac4";
}
.icon-bluetooth:before {
  content: "\eac5";
}
.icon-ibeacon:before {
  content: "\eac6";
}
.icon-opslevel:before {
  content: "\eac7";
}
.icon-apachepulsar:before {
  content: "\eac8";
}
.icon-jsfiddle:before {
  content: "\eac9";
}
.icon-intercom:before {
  content: "\eaca";
}
.icon-mastodon:before {
  content: "\eacb";
}
.icon-python:before {
  content: "\eacc";
}
.icon-disqus:before {
  content: "\eacd";
}
.icon-uikit:before {
  content: "\eace";
}
.icon-coderwall:before {
  content: "\eacf";
}
.icon-internetexplorer:before {
  content: "\ead0";
}
.icon-ifixit:before {
  content: "\ead1";
}
.icon-flutter:before {
  content: "\ead2";
}
.icon-cmake:before {
  content: "\ead3";
}
.icon-elementary:before {
  content: "\ead4";
}
.icon-stackshare:before {
  content: "\ead5";
}
.icon-docker:before {
  content: "\ead6";
}
.icon-microsoftedge:before {
  content: "\ead7";
}
.icon-castorama:before {
  content: "\ead8";
}
.icon-azuredevops:before {
  content: "\ead9";
}
.icon-microsoftoutlook:before {
  content: "\eada";
}
.icon-microsoftonedrive:before {
  content: "\eadb";
}
.icon-microsoftexchange:before {
  content: "\eadc";
}
.icon-intel:before {
  content: "\eadd";
}
.icon-gov-dot-uk:before {
  content: "\eade";
}
.icon-cplusplus:before {
  content: "\eadf";
}
.icon-semanticweb:before {
  content: "\eae0";
}
.icon-volvo:before {
  content: "\eae1";
}
.icon-readthedocs:before {
  content: "\eae2";
}
.icon-krita:before {
  content: "\eae3";
}
.icon-cesium:before {
  content: "\eae4";
}
.icon-bmw:before {
  content: "\eae5";
}
.icon-jquery:before {
  content: "\eae6";
}
.icon-css3:before {
  content: "\eae7";
}
.icon-chartmogul:before {
  content: "\eae8";
}
.icon-shopware:before {
  content: "\eae9";
}
.icon-appstore:before {
  content: "\eaea";
}
.icon-mediafire:before {
  content: "\eaeb";
}
.icon-xamarin:before {
  content: "\eaec";
}
.icon-typescript:before {
  content: "\eaed";
}
.icon-scribd:before {
  content: "\eaee";
}
.icon-keycdn:before {
  content: "\eaef";
}
.icon-freedesktop-dot-org:before {
  content: "\eaf0";
}
.icon-spacex:before {
  content: "\eaf1";
}
.icon-coveralls:before {
  content: "\eaf2";
}
.icon-symphony:before {
  content: "\eaf3";
}
.icon-tracklists:before {
  content: "\eaf4";
}
.icon-dash:before {
  content: "\eaf5";
}
.icon-drupal:before {
  content: "\eaf6";
}
.icon-codeforces:before {
  content: "\eaf7";
}
.icon-bitwarden:before {
  content: "\eaf8";
}
.icon-curl:before {
  content: "\eaf9";
}
.icon-dassaultsystemes:before {
  content: "\eafa";
}
.icon-stripe:before {
  content: "\eafb";
}
.icon-brand-dot-ai:before {
  content: "\eafc";
}
.icon-apacheopenoffice:before {
  content: "\eafd";
}
.icon-material-ui:before {
  content: "\eafe";
}
.icon-fluentd:before {
  content: "\eaff";
}
.icon-adobelightroomclassic:before {
  content: "\eb00";
}
.icon-hackster:before {
  content: "\eb01";
}
.icon-logmein:before {
  content: "\eb02";
}
.icon-superuser:before {
  content: "\eb03";
}
.icon-wordpress:before {
  content: "\eb04";
}
.icon-mathworks:before {
  content: "\eb05";
}
.icon-skypeforbusiness:before {
  content: "\eb06";
}
.icon-ulule:before {
  content: "\eb07";
}
.icon-aerlingus:before {
  content: "\eb08";
}
.icon-umbraco:before {
  content: "\eb09";
}
.icon-aircall:before {
  content: "\eb0a";
}
.icon-webpack:before {
  content: "\eb0b";
}
.icon-teespring:before {
  content: "\eb0c";
}
.icon-sat-dot-1:before {
  content: "\eb0d";
}
.icon-brandfolder:before {
  content: "\eb0e";
}
.icon-spdx:before {
  content: "\eb0f";
}
.icon-trello:before {
  content: "\eb10";
}
.icon-nextcloud:before {
  content: "\eb11";
}
.icon-ghost:before {
  content: "\eb12";
}
.icon-salesforce:before {
  content: "\eb13";
}
.icon-bathasu:before {
  content: "\eb14";
}
.icon-airtable:before {
  content: "\eb15";
}
.icon-f-secure:before {
  content: "\eb16";
}
.icon-qualtrics:before {
  content: "\eb17";
}
.icon-kibana:before {
  content: "\eb18";
}
.icon-adobephonegap:before {
  content: "\eb19";
}
.icon-datacamp:before {
  content: "\eb1a";
}
.icon-bandcamp:before {
  content: "\eb1b";
}
.icon-proto-dot-io:before {
  content: "\eb1c";
}
.icon-lineageos:before {
  content: "\eb1d";
}
.icon-influxdb:before {
  content: "\eb1e";
}
.icon-sap:before {
  content: "\eb1f";
}
.icon-wikimediacommons:before {
  content: "\eb20";
}
.icon-homeassistant:before {
  content: "\eb21";
}
.icon-plesk:before {
  content: "\eb22";
}
.icon-cisco:before {
  content: "\eb23";
}
.icon-elasticstack:before {
  content: "\eb24";
}
.icon-minutemailer:before {
  content: "\eb25";
}
.icon-siemens:before {
  content: "\eb26";
}
.icon-here:before {
  content: "\eb27";
}
.icon-deliveroo:before {
  content: "\eb28";
}
.icon-saltstack:before {
  content: "\eb29";
}
.icon-microsoftexcel:before {
  content: "\eb2a";
}
.icon-crunchbase:before {
  content: "\eb2b";
}
.icon-acm:before {
  content: "\eb2c";
}
.icon-cloudsmith:before {
  content: "\eb2d";
}
.icon-osmc:before {
  content: "\eb2e";
}
.icon-opengl:before {
  content: "\eb2f";
}
.icon-px:before {
  content: "\eb30";
}
.icon-xsplit:before {
  content: "\eb31";
}
.icon-archlinux:before {
  content: "\eb32";
}
.icon-sega:before {
  content: "\eb33";
}
.icon-iobroker:before {
  content: "\eb34";
}
.icon-reactos:before {
  content: "\eb35";
}
.icon-linkedin:before {
  content: "\eb36";
}
.icon-dependabot:before {
  content: "\eb37";
}
.icon-aventrix:before {
  content: "\eb38";
}
.icon-virb:before {
  content: "\eb39";
}
.icon-evry:before {
  content: "\eb3a";
}
.icon-roundcube:before {
  content: "\eb3b";
}
.icon-gitpod:before {
  content: "\eb3c";
}
.icon-topcoder:before {
  content: "\eb3d";
}
.icon-ripple:before {
  content: "\eb3e";
}
.icon-floatplane:before {
  content: "\eb3f";
}
.icon-compropago:before {
  content: "\eb40";
}
.icon-artstation:before {
  content: "\eb41";
}
.icon-expertsexchange:before {
  content: "\eb42";
}
.icon-cassandra:before {
  content: "\eb43";
}
.icon-elastic:before {
  content: "\eb44";
}
.icon-tencentweibo:before {
  content: "\eb45";
}
.icon-zorin:before {
  content: "\eb46";
}
.icon-amazonalexa:before {
  content: "\eb47";
}
.icon-probot:before {
  content: "\eb48";
}
.icon-exercism:before {
  content: "\eb49";
}
.icon-arduino:before {
  content: "\eb4a";
}
.icon-magisk:before {
  content: "\eb4b";
}
.icon-googlehangoutschat:before {
  content: "\eb4c";
}
.icon-kaspersky:before {
  content: "\eb4d";
}
.icon-adobeaudition:before {
  content: "\eb4e";
}
.icon-nuxt-dot-js:before {
  content: "\eb4f";
}
.icon-vine:before {
  content: "\eb50";
}
.icon-googlesheets:before {
  content: "\eb51";
}
.icon-speakerdeck:before {
  content: "\eb52";
}
.icon-gravatar:before {
  content: "\eb53";
}
.icon-alipay:before {
  content: "\eb54";
}
.icon-sitepoint:before {
  content: "\eb55";
}
.icon-kaggle:before {
  content: "\eb56";
}
.icon-octave:before {
  content: "\eb57";
}
.icon-at-and-t:before {
  content: "\eb58";
}
.icon-periscope:before {
  content: "\eb59";
}
.icon-java:before {
  content: "\eb5a";
}
.icon-mariadb:before {
  content: "\eb5b";
}
.icon-cloudbees:before {
  content: "\eb5c";
}
.icon-dashlane:before {
  content: "\eb5d";
}
.icon-apacheairflow:before {
  content: "\eb5e";
}
.icon-fitbit:before {
  content: "\eb5f";
}
.icon-garmin:before {
  content: "\eb60";
}
.icon-freelancer:before {
  content: "\eb61";
}
.icon-gnuprivacyguard:before {
  content: "\eb62";
}
.icon-alpinelinux:before {
  content: "\eb63";
}
.icon-telegram:before {
  content: "\eb64";
}
.icon-kotlin:before {
  content: "\eb65";
}
.icon-dell:before {
  content: "\eb66";
}
.icon-vbulletin:before {
  content: "\eb67";
}
.icon-battle-dot-net:before {
  content: "\eb68";
}
.icon-googlecast:before {
  content: "\eb69";
}
.icon-webcomponents-dot-org:before {
  content: "\eb6a";
}
.icon-hockeyapp:before {
  content: "\eb6b";
}
.icon-hp:before {
  content: "\eb6c";
}
.icon-yarn:before {
  content: "\eb6d";
}
.icon-habr:before {
  content: "\eb6e";
}
.icon-helm:before {
  content: "\eb6f";
}
.icon-messenger:before {
  content: "\eb70";
}
.icon-wish:before {
  content: "\eb71";
}
.icon-write-dot-as:before {
  content: "\eb72";
}
.icon-cevo:before {
  content: "\eb73";
}
.icon-klm:before {
  content: "\eb74";
}
.icon-neo4j:before {
  content: "\eb75";
}
.icon-fossilscm:before {
  content: "\eb76";
}
.icon-skype:before {
  content: "\eb77";
}
.icon-hatenabookmark:before {
  content: "\eb78";
}
.icon-groovy:before {
  content: "\eb79";
}
.icon-smartthings:before {
  content: "\eb7a";
}
.icon-sourcegraph:before {
  content: "\eb7b";
}
.icon-xero:before {
  content: "\eb7c";
}
.icon-livejournal:before {
  content: "\eb7d";
}
.icon-vimeo:before {
  content: "\eb7e";
}
.icon-co-op:before {
  content: "\eb7f";
}
.icon-kodi:before {
  content: "\eb80";
}
.icon-x-pack:before {
  content: "\eb81";
}
.icon-logstash:before {
  content: "\eb82";
}
.icon-elasticsearch:before {
  content: "\eb83";
}
.icon-elasticcloud:before {
  content: "\eb84";
}
.icon-beats:before {
  content: "\eb85";
}
.icon-haveibeenpwned:before {
  content: "\eb86";
}
.icon-adobephotoshop:before {
  content: "\eb87";
}
.icon-rtlzwei:before {
  content: "\eb88";
}
.icon-react:before {
  content: "\eb89";
}
.icon-udacity:before {
  content: "\eb8a";
}
.icon-appveyor:before {
  content: "\eb8b";
}
.icon-go:before {
  content: "\eb8c";
}
.icon-gradle:before {
  content: "\eb8d";
}
.icon-spinnaker:before {
  content: "\eb8e";
}
.icon-zendesk:before {
  content: "\eb8f";
}
.icon-angularuniversal:before {
  content: "\eb90";
}
.icon-hackhands:before {
  content: "\eb91";
}
.icon-wpengine:before {
  content: "\eb92";
}
.icon-ipfs:before {
  content: "\eb93";
}
.icon-runkeeper:before {
  content: "\eb94";
}
.icon-skillshare:before {
  content: "\eb95";
}
.icon-gumroad:before {
  content: "\eb96";
}
.icon-icon:before {
  content: "\eb97";
}
.icon-canva:before {
  content: "\eb98";
}
.icon-adobelightroomcc:before {
  content: "\eb99";
}
.icon-fandom:before {
  content: "\eb9a";
}
.icon-latex:before {
  content: "\eb9b";
}
.icon-bandsintown:before {
  content: "\eb9c";
}
.icon-xing:before {
  content: "\eb9d";
}
.icon-pingup:before {
  content: "\eb9e";
}
.icon-tailwindcss:before {
  content: "\eb9f";
}
.icon-researchgate:before {
  content: "\eba0";
}
.icon-gitkraken:before {
  content: "\eba1";
}
.icon-clyp:before {
  content: "\eba2";
}
.icon-about-dot-me:before {
  content: "\eba3";
}
.icon-bulma:before {
  content: "\eba4";
}
.icon-zulip:before {
  content: "\eba5";
}
.icon-pexels:before {
  content: "\eba6";
}
.icon-homify:before {
  content: "\eba7";
}
.icon-nextdoor:before {
  content: "\eba8";
}
.icon-skyliner:before {
  content: "\eba9";
}
.icon-egnyte:before {
  content: "\ebaa";
}
.icon-netlify:before {
  content: "\ebab";
}
.icon-bing:before {
  content: "\ebac";
}
.icon-steemit:before {
  content: "\ebad";
}
.icon-androidstudio:before {
  content: "\ebae";
}
.icon-veeam:before {
  content: "\ebaf";
}
.icon-treehouse:before {
  content: "\ebb0";
}
.icon-castro:before {
  content: "\ebb1";
}
.icon-formstack:before {
  content: "\ebb2";
}
.icon-linewebtoon:before {
  content: "\ebb3";
}
.icon-deviantart:before {
  content: "\ebb4";
}
.icon-greenkeeper:before {
  content: "\ebb5";
}
.icon-koding:before {
  content: "\ebb6";
}
.icon-sellfy:before {
  content: "\ebb7";
}
.icon-evernote:before {
  content: "\ebb8";
}
.icon-khanacademy:before {
  content: "\ebb9";
}
.icon-transportforlondon:before {
  content: "\ebba";
}
.icon-trustpilot:before {
  content: "\ebbb";
}
.icon-tripadvisor:before {
  content: "\ebbc";
}
.icon-kickstarter:before {
  content: "\ebbd";
}
.icon-linode:before {
  content: "\ebbe";
}
.icon-vue-dot-js:before {
  content: "\ebbf";
}
.icon-googlehangouts:before {
  content: "\ebc0";
}
.icon-snapcraft:before {
  content: "\ebc1";
}
.icon-esea:before {
  content: "\ebc2";
}
.icon-pixabay:before {
  content: "\ebc3";
}
.icon-whatsapp:before {
  content: "\ebc4";
}
.icon-hackerrank:before {
  content: "\ebc5";
}
.icon-glassdoor:before {
  content: "\ebc6";
}
.icon-threema:before {
  content: "\ebc7";
}
.icon-picarto-dot-tv:before {
  content: "\ebc8";
}
.icon-cashapp:before {
  content: "\ebc9";
}
.icon-douban:before {
  content: "\ebca";
}
.icon-letterboxd:before {
  content: "\ebcb";
}
.icon-moo:before {
  content: "\ebcc";
}
.icon-themoviedatabase:before {
  content: "\ebcd";
}
.icon-geocaching:before {
  content: "\ebce";
}
.icon-fiverr:before {
  content: "\ebcf";
}
.icon-gauges:before {
  content: "\ebd0";
}
.icon-android:before {
  content: "\ebd1";
}
.icon-graphcool:before {
  content: "\ebd2";
}
.icon-spotify:before {
  content: "\ebd3";
}
.icon-lmms:before {
  content: "\ebd4";
}
.icon-vim:before {
  content: "\ebd5";
}
.icon-manjaro:before {
  content: "\ebd6";
}
.icon-postwoman:before {
  content: "\ebd7";
}
.icon-tableau:before {
  content: "\ebd8";
}
.icon-dazn:before {
  content: "\ebd9";
}
.icon-mongodb:before {
  content: "\ebda";
}
.icon-keras:before {
  content: "\ebdb";
}
.icon-applepodcasts:before {
  content: "\ebdc";
}
.icon-itunes:before {
  content: "\ebdd";
}
.icon-openbsd:before {
  content: "\ebde";
}
.icon-mailchimp:before {
  content: "\ebdf";
}
.icon-opensuse:before {
  content: "\ebe0";
}
.icon-etsy:before {
  content: "\ebe1";
}
.icon-neovim:before {
  content: "\ebe2";
}
.icon-zerply:before {
  content: "\ebe3";
}
.icon-pantheon:before {
  content: "\ebe4";
}
.icon-elsevier:before {
  content: "\ebe5";
}
.icon-rails:before {
  content: "\ebe6";
}
.icon-timescale:before {
  content: "\ebe7";
}
.icon-audiomack:before {
  content: "\ebe8";
}
.icon-angularjs:before {
  content: "\ebe9";
}
.icon-apache:before {
  content: "\ebea";
}
.icon-broadcom:before {
  content: "\ebeb";
}
.icon-bugatti:before {
  content: "\ebec";
}
.icon-nim:before {
  content: "\ebed";
}
.icon-untappd:before {
  content: "\ebee";
}
.icon-furaffinity:before {
  content: "\ebef";
}
.icon-askfm:before {
  content: "\ebf0";
}
.icon-monero:before {
  content: "\ebf1";
}
.icon-dlna:before {
  content: "\ebf2";
}
.icon-shopify:before {
  content: "\ebf3";
}
.icon-labview:before {
  content: "\ebf4";
}
.icon-imdb:before {
  content: "\ebf5";
}
.icon-redhat:before {
  content: "\ebf6";
}
.icon-toshiba:before {
  content: "\ebf7";
}
.icon-trakt:before {
  content: "\ebf8";
}
.icon-photocrowd:before {
  content: "\ebf9";
}
.icon-basecamp:before {
  content: "\ebfa";
}
.icon-openstreetmap:before {
  content: "\ebfb";
}
.icon-kik:before {
  content: "\ebfc";
}
.icon-grunt:before {
  content: "\ebfd";
}
.icon-discover:before {
  content: "\ebfe";
}
.icon-zapier:before {
  content: "\ebff";
}
.icon-fortinet:before {
  content: "\ec00";
}
.icon-vivaldi:before {
  content: "\ec01";
}
.icon-cnn:before {
  content: "\ec02";
}
.icon-cakephp:before {
  content: "\ec03";
}
.icon-azureartifacts:before {
  content: "\ec04";
}
.icon-codecov:before {
  content: "\ec05";
}
.icon-player-dot-me:before {
  content: "\ec06";
}
.icon-groupon:before {
  content: "\ec07";
}
.icon-postcss:before {
  content: "\ec08";
}
.icon-jekyll:before {
  content: "\ec09";
}
.icon-sinaweibo:before {
  content: "\ec0a";
}
.icon-affinitypublisher:before {
  content: "\ec0b";
}
.icon-paloaltosoftware:before {
  content: "\ec0c";
}
.icon-babel:before {
  content: "\ec0d";
}
.icon-spreaker:before {
  content: "\ec0e";
}
.icon-googlekeep:before {
  content: "\ec0f";
}
.icon-viadeo:before {
  content: "\ec10";
}
.icon-sparkpost:before {
  content: "\ec11";
}
.icon-microsoftpowerpoint:before {
  content: "\ec12";
}
.icon-serverless:before {
  content: "\ec13";
}
.icon-quora:before {
  content: "\ec14";
}
.icon-oracle:before {
  content: "\ec15";
}
.icon-adblock:before {
  content: "\ec16";
}
.icon-quantopian:before {
  content: "\ec17";
}
.icon-hitachi:before {
  content: "\ec18";
}
.icon-qiwi:before {
  content: "\ec19";
}
.icon-teradata:before {
  content: "\ec1a";
}
.icon-quest:before {
  content: "\ec1b";
}
.icon-svelte:before {
  content: "\ec1c";
}
.icon-addthis:before {
  content: "\ec1d";
}
.icon-lenovo:before {
  content: "\ec1e";
}
.icon-freecodecamp:before {
  content: "\ec1f";
}
.icon-parse-dot-ly:before {
  content: "\ec20";
}
.icon-gumtree:before {
  content: "\ec21";
}
.icon-duolingo:before {
  content: "\ec22";
}
.icon-openapiinitiative:before {
  content: "\ec23";
}
.icon-envato:before {
  content: "\ec24";
}
.icon-minds:before {
  content: "\ec25";
}
.icon-linux:before {
  content: "\ec26";
}
.icon-amazon:before {
  content: "\ec27";
}
.icon-chef:before {
  content: "\ec28";
}
.icon-qemu:before {
  content: "\ec29";
}
.icon-draugiem-dot-lv:before {
  content: "\ec2a";
}
.icon-wolframmathematica:before {
  content: "\ec2b";
}
.icon-reverbnation:before {
  content: "\ec2c";
}
.icon-openssl:before {
  content: "\ec2d";
}
.icon-youtube:before {
  content: "\ec2e";
}
.icon-yandex:before {
  content: "\ec2f";
}
.icon-nintendoswitch:before {
  content: "\ec30";
}
.icon-stadia:before {
  content: "\ec31";
}
.icon-debian:before {
  content: "\ec32";
}
.icon-codefactor:before {
  content: "\ec33";
}
.icon-gitter:before {
  content: "\ec34";
}
.icon-eventstore:before {
  content: "\ec35";
}
.icon-adobedreamweaver:before {
  content: "\ec36";
}
.icon-skoda:before {
  content: "\ec37";
}
.icon-ubereats:before {
  content: "\ec38";
}
.icon-renault:before {
  content: "\ec39";
}
.icon-monkeytie:before {
  content: "\ec3a";
}
.icon-gatling:before {
  content: "\ec3b";
}
.icon-bandlab:before {
  content: "\ec3c";
}
.icon-rubygems:before {
  content: "\ec3d";
}
.icon-ferrari:before {
  content: "\ec3e";
}
.icon-arxiv:before {
  content: "\ec3f";
}
.icon-chupachups:before {
  content: "\ec40";
}
.icon-strongswan:before {
  content: "\ec41";
}
.icon-celery:before {
  content: "\ec42";
}
.icon-feedly:before {
  content: "\ec43";
}
.icon-adguard:before {
  content: "\ec44";
}
.icon-nginx:before {
  content: "\ec45";
}
.icon-emlakjet:before {
  content: "\ec46";
}
.icon-minetest:before {
  content: "\ec47";
}
.icon-line:before {
  content: "\ec48";
}
.icon-csharp:before {
  content: "\ec49";
}
.icon-overleaf:before {
  content: "\ec4a";
}
.icon-instacart:before {
  content: "\ec4b";
}
.icon-wheniwork:before {
  content: "\ec4c";
}
.icon-untangle:before {
  content: "\ec4d";
}
.icon-upwork:before {
  content: "\ec4e";
}
.icon-empirekred:before {
  content: "\ec4f";
}
.icon-sensu:before {
  content: "\ec50";
}
.icon-civicrm:before {
  content: "\ec51";
}
.icon-qgis:before {
  content: "\ec52";
}
.icon-spring:before {
  content: "\ec53";
}
.icon-qiita:before {
  content: "\ec54";
}
.icon-trulia:before {
  content: "\ec55";
}
.icon-swagger:before {
  content: "\ec56";
}
.icon-linuxmint:before {
  content: "\ec57";
}
.icon-gitea:before {
  content: "\ec58";
}
.icon-adobetypekit:before {
  content: "\ec59";
}
.icon-sencha:before {
  content: "\ec5a";
}
.icon-nvidia:before {
  content: "\ec5b";
}
.icon-greensock:before {
  content: "\ec5c";
}
.icon-icq:before {
  content: "\ec5d";
}
.icon-pingdom:before {
  content: "\ec5e";
}
.icon-opel:before {
  content: "\ec5f";
}
.icon-javascript:before {
  content: "\ec60";
}
.icon-qwiklabs:before {
  content: "\ec61";
}
.icon-pagseguro:before {
  content: "\ec62";
}
.icon-fidoalliance:before {
  content: "\ec63";
}
.icon-rss:before {
  content: "\ec64";
}
.icon-pre-commit:before {
  content: "\ec65";
}
.icon-audible:before {
  content: "\ec66";
}
.icon-openaccess:before {
  content: "\ec67";
}
.icon-proxmox:before {
  content: "\ec68";
}
.icon-cloudflare:before {
  content: "\ec69";
}
.icon-grafana:before {
  content: "\ec6a";
}
.icon-x-dot-org:before {
  content: "\ec6b";
}
.icon-pjsip:before {
  content: "\ec6c";
}
.icon-sogou:before {
  content: "\ec6d";
}
.icon-bitly:before {
  content: "\ec6e";
}
.icon-cpanel:before {
  content: "\ec6f";
}
.icon-pluralsight:before {
  content: "\ec70";
}
.icon-maas:before {
  content: "\ec71";
}
.icon-producthunt:before {
  content: "\ec72";
}
.icon-prometheus:before {
  content: "\ec73";
}
.icon-soundcloud:before {
  content: "\ec74";
}
.icon-sentry:before {
  content: "\ec75";
}
.icon-ember-dot-js:before {
  content: "\ec76";
}
.icon-lumen:before {
  content: "\ec77";
}
.icon-hurriyetemlak:before {
  content: "\ec78";
}
.icon-filezilla:before {
  content: "\ec79";
}
.icon-weasyl:before {
  content: "\ec7a";
}
.icon-ebay:before {
  content: "\ec7b";
}
.icon-sonarlint:before {
  content: "\ec7c";
}
.icon-bosch:before {
  content: "\ec7d";
}
.icon-pocket:before {
  content: "\ec7e";
}
.icon-adblockplus:before {
  content: "\ec7f";
}
.icon-csswizardry:before {
  content: "\ec80";
}
.icon-apacheflink:before {
  content: "\ec81";
}
.icon-a-frame:before {
  content: "\ec82";
}
.icon-man:before {
  content: "\ec83";
}
.icon-hugo:before {
  content: "\ec84";
}
.icon-kaios:before {
  content: "\ec85";
}
.icon-anaconda:before {
  content: "\ec86";
}
.icon-beatport:before {
  content: "\ec87";
}
.icon-allocine:before {
  content: "\ec88";
}
.icon-launchpad:before {
  content: "\ec89";
}
.icon-docusign:before {
  content: "\ec8a";
}
.icon-googlestreetview:before {
  content: "\ec8b";
}
.icon-goldenline:before {
  content: "\ec8c";
}
.icon-prettier:before {
  content: "\ec8d";
}
.icon-loop:before {
  content: "\ec8e";
}
.icon-sourceengine:before {
  content: "\ec8f";
}
.icon-deezer:before {
  content: "\ec90";
}
.icon-creativecommons:before {
  content: "\ec91";
}
.icon-d3-dot-js:before {
  content: "\ec92";
}
.icon-vlcmediaplayer:before {
  content: "\ec93";
}
.icon-typo3:before {
  content: "\ec94";
}
.icon-apacherocketmq:before {
  content: "\ec95";
}
.icon-nintendonetwork:before {
  content: "\ec96";
}
.icon-carthrottle:before {
  content: "\ec97";
}
.icon-crunchyroll:before {
  content: "\ec98";
}
.icon-peertube:before {
  content: "\ec99";
}
.icon-sonicwall:before {
  content: "\ec9a";
}
.icon-rabbitmq:before {
  content: "\ec9b";
}
.icon-origin:before {
  content: "\ec9c";
}
.icon-mozillafirefox:before {
  content: "\ec9d";
}
.icon-kentico:before {
  content: "\ec9e";
}
.icon-reddit:before {
  content: "\ec9f";
}
.icon-todoist:before {
  content: "\eca0";
}
.icon-codewars:before {
  content: "\eca1";
}
.icon-meteor:before {
  content: "\eca2";
}
.icon-squareenix:before {
  content: "\eca3";
}
.icon-toggl:before {
  content: "\eca4";
}
.icon-pi-hole:before {
  content: "\eca5";
}
.icon-prosieben:before {
  content: "\eca6";
}
.icon-meetup:before {
  content: "\eca7";
}
.icon-microbit:before {
  content: "\eca8";
}
.icon-hulu:before {
  content: "\eca9";
}
.icon-xbox:before {
  content: "\ecaa";
}
.icon-node-dot-js:before {
  content: "\ecab";
}
.icon-opensourceinitiative:before {
  content: "\ecac";
}
.icon-emby:before {
  content: "\ecad";
}
.icon-libreoffice:before {
  content: "\ecae";
}
.icon-wemo:before {
  content: "\ecaf";
}
.icon-gnubash:before {
  content: "\ecb0";
}
.icon-nodemon:before {
  content: "\ecb1";
}
.icon-seagate:before {
  content: "\ecb2";
}
.icon-keepassxc:before {
  content: "\ecb3";
}
.icon-houzz:before {
  content: "\ecb4";
}
.icon-smugmug:before {
  content: "\ecb5";
}
.icon-zendframework:before {
  content: "\ecb6";
}
.icon-wechat:before {
  content: "\ecb7";
}
.icon-platzi:before {
  content: "\ecb8";
}
.icon-hellofresh:before {
  content: "\ecb9";
}
.icon-orcid:before {
  content: "\ecba";
}
.icon-genius:before {
  content: "\ecbb";
}
.icon-snapchat:before {
  content: "\ecbc";
}
.icon-eslgaming:before {
  content: "\ecbd";
}
.icon-sahibinden:before {
  content: "\ecbe";
}
.icon-shell:before {
  content: "\ecbf";
}
.icon-tapas:before {
  content: "\ecc0";
}
.icon-qzone:before {
  content: "\ecc1";
}
.icon-liberapay:before {
  content: "\ecc2";
}
.icon-sprint:before {
  content: "\ecc3";
}
.icon-pokemon:before {
  content: "\ecc4";
}
.icon-mcdonalds:before {
  content: "\ecc5";
}
.icon-tele5:before {
  content: "\ecc6";
}
.icon-jet:before {
  content: "\ecc7";
}
.icon-firebase:before {
  content: "\ecc8";
}
.icon-sketch:before {
  content: "\ecc9";
}
.icon-symantec:before {
  content: "\ecca";
}
.icon-fnac:before {
  content: "\eccb";
}
.icon-plex:before {
  content: "\eccc";
}
.icon-monogram:before {
  content: "\eccd";
}
.icon-puppet:before {
  content: "\ecce";
}
.icon-leetcode:before {
  content: "\eccf";
}
.icon-xdadevelopers:before {
  content: "\ecd0";
}
.icon-svg:before {
  content: "\ecd1";
}
.icon-abbrobotstudio:before {
  content: "\ecd2";
}
.icon-sublimetext:before {
  content: "\ecd3";
}
.icon-gitlab:before {
  content: "\ecd4";
}
.icon-swarm:before {
  content: "\ecd5";
}
.icon-bitcoin:before {
  content: "\ecd6";
}
.icon-wattpad:before {
  content: "\ecd7";
}
.icon-boost:before {
  content: "\ecd8";
}
.icon-micro-dot-blog:before {
  content: "\ecd9";
}
.icon-googleanalytics:before {
  content: "\ecda";
}
.icon-goodreads:before {
  content: "\ecdb";
}
.icon-slickpic:before {
  content: "\ecdc";
}
.icon-haxe:before {
  content: "\ecdd";
}
.icon-hive:before {
  content: "\ecde";
}
.icon-adobeillustrator:before {
  content: "\ecdf";
}
.icon-zdf:before {
  content: "\ece0";
}
.icon-openvpn:before {
  content: "\ece1";
}
.icon-mocha:before {
  content: "\ece2";
}
.icon-composer:before {
  content: "\ece3";
}
.icon-twoo:before {
  content: "\ece4";
}
.icon-stackoverflow:before {
  content: "\ece5";
}
.icon-tensorflow:before {
  content: "\ece6";
}
.icon-openid:before {
  content: "\ece7";
}
.icon-zalando:before {
  content: "\ece8";
}
.icon-xampp:before {
  content: "\ece9";
}
.icon-odnoklassniki:before {
  content: "\ecea";
}
.icon-ocaml:before {
  content: "\eceb";
}
.icon-antena3:before {
  content: "\ecec";
}
.icon-bmcsoftware:before {
  content: "\eced";
}
.icon-klout:before {
  content: "\ecee";
}
.icon-apachespark:before {
  content: "\ecef";
}
.icon-ycombinator:before {
  content: "\ecf0";
}
.icon-castbox:before {
  content: "\ecf1";
}
.icon-ubuntu:before {
  content: "\ecf2";
}
.icon-postman:before {
  content: "\ecf3";
}
.icon-houdini:before {
  content: "\ecf4";
}
.icon-highly:before {
  content: "\ecf5";
}
.icon-wprocket:before {
  content: "\ecf6";
}
.icon-duckduckgo:before {
  content: "\ecf7";
}
.icon-brave:before {
  content: "\ecf8";
}
.icon-hubspot:before {
  content: "\ecf9";
}
.icon-codeigniter:before {
  content: "\ecfa";
}
.icon-stencyl:before {
  content: "\ecfb";
}
.icon-git:before {
  content: "\ecfc";
}
.icon-patreon:before {
  content: "\ecfd";
}
.icon-issuu:before {
  content: "\ecfe";
}
.icon-jenkins:before {
  content: "\ecff";
}
.icon-reason:before {
  content: "\ed00";
}
.icon-jsdelivr:before {
  content: "\ed01";
}
.icon-wolfram:before {
  content: "\ed02";
}
.icon-wolframlanguage:before {
  content: "\ed03";
}
.icon-ted:before {
  content: "\ed04";
}
.icon-redis:before {
  content: "\ed05";
}
.icon-makerbot:before {
  content: "\ed06";
}
.icon-lastpass:before {
  content: "\ed07";
}
.icon-last-dot-fm:before {
  content: "\ed08";
}
.icon-ruby:before {
  content: "\ed09";
}
.icon-microsoftsqlserver:before {
  content: "\ed0a";
}
.icon-itch-dot-io:before {
  content: "\ed0b";
}
.icon-ko-fi:before {
  content: "\ed0c";
}
.icon-udemy:before {
  content: "\ed0d";
}
.icon-trainerroad:before {
  content: "\ed0e";
}
.icon-adobecreativecloud:before {
  content: "\ed0f";
}
.icon-fite:before {
  content: "\ed10";
}
.icon-humblebundle:before {
  content: "\ed11";
}
.icon-webgl:before {
  content: "\ed12";
}
.icon-tinder:before {
  content: "\ed13";
}
.icon-youtubestudio:before {
  content: "\ed14";
}
.icon-youtubegaming:before {
  content: "\ed15";
}
.icon-huawei:before {
  content: "\ed16";
}
.icon-sonarsource:before {
  content: "\ed17";
}
.icon-kyocera:before {
  content: "\ed18";
}
.icon-bitdefender:before {
  content: "\ed19";
}
.icon-amd:before {
  content: "\ed1a";
}
.icon-cdprojekt:before {
  content: "\ed1b";
}
.icon-verizon:before {
  content: "\ed1c";
}
.icon-tencentqq:before {
  content: "\ed1d";
}
.icon-microstrategy:before {
  content: "\ed1e";
}
.icon-veritas:before {
  content: "\ed1f";
}
.icon-vauxhall:before {
  content: "\ed20";
}
.icon-livestream:before {
  content: "\ed21";
}
.icon-honda:before {
  content: "\ed22";
}
.icon-beatsbydre:before {
  content: "\ed23";
}
.icon-steinberg:before {
  content: "\ed24";
}
.icon-vivino:before {
  content: "\ed25";
}
.icon-apachemaven:before {
  content: "\ed26";
}
.icon-nissan:before {
  content: "\ed27";
}
.icon-invision:before {
  content: "\ed28";
}
.icon-foursquare:before {
  content: "\ed29";
}
.icon-songkick:before {
  content: "\ed2a";
}
.icon-lg:before {
  content: "\ed2b";
}
.icon-asciidoctor:before {
  content: "\ed2c";
}
.icon-dribbble:before {
  content: "\ed2d";
}
.icon-ideal:before {
  content: "\ed2e";
}
.icon-adobexd:before {
  content: "\ed2f";
}
.icon-microsoftonenote:before {
  content: "\ed30";
}
.icon-fandango:before {
  content: "\ed31";
}
.icon-xiaomi:before {
  content: "\ed32";
}
.icon-jupyter:before {
  content: "\ed33";
}
.icon-blogger:before {
  content: "\ed34";
}
.icon-rollup-dot-js:before {
  content: "\ed35";
}
.icon-pocketcasts:before {
  content: "\ed36";
}
.icon-valve:before {
  content: "\ed37";
}
.icon-porsche:before {
  content: "\ed38";
}
.icon-jabber:before {
  content: "\ed39";
}
.icon-khronosgroup:before {
  content: "\ed3a";
}
.icon-archiveofourown:before {
  content: "\ed3b";
}
.icon-ublockorigin:before {
  content: "\ed3c";
}
.icon-convertio:before {
  content: "\ed3d";
}
.icon-youtubetv:before {
  content: "\ed3e";
}
.icon-suzuki:before {
  content: "\ed3f";
}
.icon-hypothesis:before {
  content: "\ed40";
}
.icon-fujifilm:before {
  content: "\ed41";
}
.icon-autotask:before {
  content: "\ed42";
}
.icon-alfaromeo:before {
  content: "\ed43";
}
.icon-slides:before {
  content: "\ed44";
}
.icon-pleroma:before {
  content: "\ed45";
}
.icon-overcast:before {
  content: "\ed46";
}
.icon-mix:before {
  content: "\ed47";
}
.icon-sourceforge:before {
  content: "\ed48";
}
.icon-easyjet:before {
  content: "\ed49";
}
.icon-blender:before {
  content: "\ed4a";
}
.icon-devrant:before {
  content: "\ed4b";
}
.icon-buymeacoffee:before {
  content: "\ed4c";
}
.icon-sonarcloud:before {
  content: "\ed4d";
}
.icon-coronaengine:before {
  content: "\ed4e";
}
.icon-faceit:before {
  content: "\ed4f";
}
.icon-strava:before {
  content: "\ed50";
}
.icon-magento:before {
  content: "\ed51";
}
.icon-swift:before {
  content: "\ed52";
}
.icon-poly:before {
  content: "\ed53";
}
.icon-microsoftoffice:before {
  content: "\ed54";
}
.icon-auth0:before {
  content: "\ed55";
}
.icon-googlecardboard:before {
  content: "\ed56";
}
.icon-figma:before {
  content: "\ed57";
}
.icon-smashingmagazine:before {
  content: "\ed58";
}
.icon-html5:before {
  content: "\ed59";
}
.icon-quip:before {
  content: "\ed5a";
}
.icon-lighthouse:before {
  content: "\ed5b";
}
.icon-coronarenderer:before {
  content: "\ed5c";
}
.icon-bower:before {
  content: "\ed5d";
}
.icon-apachesolr:before {
  content: "\ed5e";
}
.icon-pytorch:before {
  content: "\ed5f";
}
.icon-eventbrite:before {
  content: "\ed60";
}
.icon-adobeacrobatreader:before {
  content: "\ed61";
}
.icon-everplaces:before {
  content: "\ed62";
}
.icon-craftcms:before {
  content: "\ed63";
}
.icon-gmail:before {
  content: "\ed64";
}
.icon-buzzfeed:before {
  content: "\ed65";
}
.icon-sparkfun:before {
  content: "\ed66";
}
.icon-saucelabs:before {
  content: "\ed67";
}
.icon-laravel:before {
  content: "\ed68";
}
.icon-plurk:before {
  content: "\ed69";
}
.icon-scala:before {
  content: "\ed6a";
}
.icon-ferrarin-dot-v-dot:before {
  content: "\ed6b";
}
.icon-freebsd:before {
  content: "\ed6c";
}
.icon-gnu:before {
  content: "\ed6d";
}
.icon-epel:before {
  content: "\ed6e";
}
.icon-redhatopenshift:before {
  content: "\ed6f";
}
.icon-ansible:before {
  content: "\ed70";
}
.icon-manageiq:before {
  content: "\ed71";
}
.icon-vodafone:before {
  content: "\ed72";
}
.icon-zeromq:before {
  content: "\ed73";
}
.icon-flipboard:before {
  content: "\ed74";
}
.icon-asciinema:before {
  content: "\ed75";
}
.icon-tesla:before {
  content: "\ed76";
}
.icon-yelp:before {
  content: "\ed77";
}
.icon-mcafee:before {
  content: "\ed78";
}
.icon-npm:before {
  content: "\ed79";
}
.icon-jinja:before {
  content: "\ed7a";
}
.icon-node-red:before {
  content: "\ed7b";
}
.icon-rhinoceros:before {
  content: "\ed7c";
}
.icon-theregister:before {
  content: "\ed7d";
}
.icon-microgenetics:before {
  content: "\ed7e";
}
.icon-fujitsu:before {
  content: "\ed7f";
}
.icon-adobe:before {
  content: "\ed80";
}
.icon-dtube:before {
  content: "\ed81";
}
.icon-gulp:before {
  content: "\ed82";
}
.icon-turkishairlines:before {
  content: "\ed83";
}
.icon-reactrouter:before {
  content: "\ed84";
}
.icon-microsoftaccess:before {
  content: "\ed85";
}
.icon-wireguard:before {
  content: "\ed86";
}
.icon-fastly:before {
  content: "\ed87";
}
.icon-authy:before {
  content: "\ed88";
}
.icon-serverfault:before {
  content: "\ed89";
}
.icon-trendmicro:before {
  content: "\ed8a";
}
.icon-airbnb:before {
  content: "\ed8b";
}
.icon-netflix:before {
  content: "\ed8c";
}
.icon-hellyhansen:before {
  content: "\ed8d";
}
.icon-mojang:before {
  content: "\ed8e";
}
.icon-mega:before {
  content: "\ed8f";
}
.icon-nintendo3ds:before {
  content: "\ed90";
}
.icon-radiopublic:before {
  content: "\ed91";
}
.icon-ifood:before {
  content: "\ed92";
}
.icon-redbubble:before {
  content: "\ed93";
}
.icon-toyota:before {
  content: "\ed94";
}
.icon-yamahamotorcorporation:before {
  content: "\ed95";
}
.icon-mitsubishi:before {
  content: "\ed96";
}
.icon-mendeley:before {
  content: "\ed97";
}
.icon-macys:before {
  content: "\ed98";
}
.icon-opera:before {
  content: "\ed99";
}
.icon-gnusocial:before {
  content: "\ed9a";
}
.icon-twilio:before {
  content: "\ed9b";
}
.icon-mastercard:before {
  content: "\ed9c";
}
.icon-jest:before {
  content: "\ed9d";
}
.icon-pinterest:before {
  content: "\ed9e";
}
.icon-playerfm:before {
  content: "\ed9f";
}
.icon-vulkan:before {
  content: "\eda0";
}
.icon-justeat:before {
  content: "\eda1";
}
.icon-themighty:before {
  content: "\eda2";
}
.icon-instagram:before {
  content: "\eda3";
}
.icon-openstack:before {
  content: "\eda4";
}
.icon-angular:before {
  content: "\eda5";
}
.icon-audi:before {
  content: "\eda6";
}
.icon-commonworkflowlanguage:before {
  content: "\eda7";
}
.icon-polymerproject:before {
  content: "\eda8";
}
.icon-zigbee:before {
  content: "\eda9";
}
.icon-raspberrypi:before {
  content: "\edaa";
}
.icon-storybook:before {
  content: "\edab";
}
.icon-styled-components:before {
  content: "\edac";
}
.icon-apacheecharts:before {
  content: "\edad";
}
.icon-fiat:before {
  content: "\edae";
}
.icon-processwire:before {
  content: "\edaf";
}
.icon-apacheant:before {
  content: "\edb0";
}
.icon-graphql:before {
  content: "\edb1";
}
.icon-accusoft:before {
  content: "\edb2";
}
.icon-bit:before {
  content: "\edb3";
}
.icon-elixir:before {
  content: "\edb4";
}
.icon-disroot:before {
  content: "\edb5";
}
.icon-adobeindesign:before {
  content: "\edb6";
}
.icon-aurelia:before {
  content: "\edb7";
}
.icon-bbciplayer:before {
  content: "\edb8";
}
.icon-icomoon:before {
  content: "\edb9";
}
.icon-prestashop:before {
  content: "\edba";
}
.icon-woo:before {
  content: "\edbb";
}
.icon-t-mobile:before {
  content: "\edbc";
}
.icon-sass:before {
  content: "\edbd";
}
.icon-adobeaftereffects:before {
  content: "\edbe";
}
.icon-lyft:before {
  content: "\edbf";
}
.icon-slack:before {
  content: "\edc0";
}
.icon-bitrise:before {
  content: "\edc1";
}
.icon-roku:before {
  content: "\edc2";
}
.icon-woocommerce:before {
  content: "\edc3";
}
.icon-adobepremiere:before {
  content: "\edc4";
}
.icon-aiqfome:before {
  content: "\edc5";
}
.icon-tor:before {
  content: "\edc6";
}
.icon-scaleway:before {
  content: "\edc7";
}
.icon-gog-dot-com:before {
  content: "\edc8";
}
.icon-justgiving:before {
  content: "\edc9";
}
.icon-spinrilla:before {
  content: "\edca";
}
.icon-gatsby:before {
  content: "\edcb";
}
