<div id="codealike" class="codealike">
{{/*    <div class="w3-border" v-for="(js, i) in wakatime.data" :key="i">*/}}
{{/*        <div class="w3-grey w3-padding" :style="`height:24px;width:${js.percent*100/100}%`">*/}}
{{/*                <% js.name %> (<% js.percent %>)*/}}
{{/*        </div>*/}}
{{/*    </div>*/}}
    <collapsible class="fig">
        <span slot="title">Coding Activity (Last 30 Days)</span>
        <div>
            <figure>
                <embed src="https://wakatime.com/share/@saveroo/5b955279-dfda-430b-a6c7-164642d0f299.svg"></embed>
            </figure>
        </div>
    </collapsible>
    <collapsible class="fig">
        <span slot="title">Languages (Last 30 Days)</span>
        <div>
            <figure>
                <embed src="https://wakatime.com/share/@saveroo/ccaf1f57-073a-4ede-9c2f-76ff91f0d51f.svg"></embed>
            </figure>
        </div>
    </collapsible>
    <collapsible class="fig">
        <span slot="title">Editor (Last 30 Days)</span>
        <div>
            <figure>
                <embed src="https://wakatime.com/share/@saveroo/43768f87-89e1-467b-b6d1-6e7f7b3d604e.svg"></embed>
            </figure>
        </div>
    </collapsible>
    <collapsible class="fig">
        <span slot="title">OS (All time)</span>
        <div>
            <figure>
                <embed src="https://wakatime.com/share/@saveroo/1fe725c5-cf25-4eab-8528-7b03aed5e66d.svg"></embed>
            </figure>
        </div>
    </collapsible>
    <collapsible class="fig">
        <span slot="title">Codealike Stats</span>
        <div>
            <iframe frameborder='0' height='370px' marginheight='0'
                    marginwidth='0' scrolling='no'
                    src='https://codealike.com/Profile/FactsWidgetWide/{{ index .Params 0}}'
                    width='300px'>
            </iframe>
        </div>
    </collapsible>
</div>
