{{/*<div id="socialmedia">*/}}
<a style="display:inline-block" href="{{ index .Params 1}}">
    <i class="fab fa-{{ index .Params 0}} fa-2x icon-3d"></i>
</a>
{{/*</div>*/}}
{{/*<script src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.min.js"></script>*/}}
{{/*<script src="https://cdn.jsdelivr.net/npm/quasar@1.9.11/dist/quasar.umd.min.js"></script>*/}}
{{/*<script src="https://cdn.jsdelivr.net/npm/quasar@1.9.11/dist/icon-set/svg-fontawesome-v5.umd.min.js"></script>*/}}
{{/*<script>*/}}
{{/*    //https://codepen.io/miguelcast/details/pwZMOJ*/}}
{{/*  Quasar.iconSet.set(Quasar.iconSet.fontawesomeV5);*/}}
{{/*  new Vue({*/}}
{{/*      el: '#socialmedia',*/}}
{{/*      data: function() {*/}}
{{/*        return {*/}}

{{/*        }*/}}
{{/*      }*/}}
{{/*    })*/}}
{{/*</script>*/}}
